{% extends "layouts/main-ccs2.html" %}

{% set feedbackType = 'step' %}
{% set section = '' %}


{% block beforeContent %}
<div class="govuk-width-container app-width-container">
 
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-form-group">
  <span class="govuk-caption-l">Your details</span>
  <fieldset class="govuk-fieldset">
    
<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
  <h1 class="govuk-fieldset__heading">
    Enter your security code
  </h1>
</legend>

      <form class="form" action="security-code" method="post">
   <p>
          We sent your security code by email to Sa********@gmail.com
        </p>
        <div id="passport-issued-hint" class="govuk-hint">
        If you do not receive the email within a few minutes, check your spam or junk mail folder.
      </div>
        <input class="govuk-input govuk-input--width-10" id="security-code" name="entercode" type="text" aria-describedby="nhs-number-hint" inputmode="numeric">
      </div>
        
            
          
          <p>Didn't get your security code? <a href="">Resend code
          </a></p>

          {{ govukButton({
            text: "Continue",
            href: "contact-email",
            isStartButton: false
            }) }}
          </div>
      </form>
    </fieldset>
    </div>
  </div>
  <style>
   
    
  </style>
{% endblock %}
