{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-width-container app-width-container">
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-form-group">
  <div class="govuk-grid-column-two-thirds">
<div class="govuk-form-group">
  <span class="govuk-caption-l">Details on the certificate</span>
  <fieldset class="govuk-fieldset">
<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
  <h1 class="govuk-fieldset__heading">
    Would you like to add another parent to the certificate? 
    
  </h1>
</legend>


      <form class="form" action="parent-add" method="post">
        
        <div class="govuk-body">
         We will need to confirm the details of the other parent. We will ask them to enter their details registered with the GP and request a code.
        </div>
        <div class="govuk-body">
          The other parent will receive a message asking if they give permission for their name to be on the certificate. 
         </div>
         <div class="govuk-body">
          They may choose not to have their name on the certificate. 
         </div>
              
        <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="parent-add" name="parent" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="yes">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="parent-add" name="parent" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="no">
              No
            </label>
          </div>
        </div>
          </fieldset>
        </div>
        
      
         
      {{ govukButton({
        text: "Continue",
        href: "second-parent-question",
        isStartButton: false
        }) }}

      </form>
</div>
</div>
    </div>
  </div>
  <style>
    
    .govuk-radios {
      margin-bottom: 20px;
    }
  </style>

{% endblock %}
