{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirmation page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "Request pending",
        html: "Your reference number<br><strong>J4R-8H5-2K9F1</strong>"
      }) }}

      <form class="form" action="/beta/v12.5/v12.5-1/enter-location" method="post">

      <h2 class="govuk-heading-m">
        What happens next
      </h2>

      <p>The other parent will have 7 days to give permission and confirm their details.
      </p>
<p>They may choose not to be named on the certificate. If you would like a certificate with only your name as a parent of your baby, you'll need to start again.</p>

<h2 class="govuk-heading-m">If you've had more than one baby loss</h2>
<p>You can request another certificate if you've lost more than one pregnancy.</p>
<p>You'll need to answer some questions again.</p>
<button class="govuk-button" data-module="govuk-button">
Continue
</button>
<h2 class="govuk-heading-m">Support organisations</h2>
<p>The following organisations give support and advice:</p>
<ul class="govuk-list govuk-list--bullet">
   <li><a href="www.nhs.uk/mental-health/social-care-and-your-rights/how-to-access-mental-health-services/">NHS How to access mental health services</a></li>
   <li><a href="www.arc-uk.org">Antenatal Results and Choices (ARC)</a> offers support before, during and after antenatal tests</li>
   <li><a href=“https://www.childrenofjannah.com/”>Children of Jannah</a> provides support for bereaved parents through a faith perspective</li>
   <li><a href="www.daddyswithangels.org">Daddy’s with Angels</a> provides fathers with support through grief</li>
   <li><a href=“https://www.ebonybonds.org.uk/”>Ebony Bonds</a> provides support, resources and community for black bereaved families</li>
   <li><a href="www.petalscharity.org ">Petals</a> provides and promotes specialist counselling for bereaved parents</li>
   <li><a href=“https://www.sands.org.uk/”>Sands</a> offers a confidential telephone helpline and community support</li>
   <li><a href="www.sayinggoodbye.org">Saying Goodbye</a> provides information, advice and support through and after baby loss</li>
   <li><a href="https://ectopic.org.uk/">The Ectopic Pregnancy Trust</a> provides information and peer support for anyone experiencing an ectopic pregnancy</li>
   <li><a href="www.miscarriageassociation.org.uk">The Miscarriage Association</a> offers support and information to individuals and families affected by miscarriage, ectopic pregnancy and molar pregnancy</li>
   <li><a href=“www.tommys.org”>Tommy's</a> provides expert advice and fosters a connected, caring community</li>
   <li><a href=“https://twinstrust.org/”>Twins Trust</a> offers community and resources for families experiencing the loss of twins or triplets</li>
   <!-- Removed as charity is primarily focussed on those who are pregnant but previously had a loss <li><a href=“https://willowsrainbowbox.co.uk/”>Willow's Rainbow Box</a> provides resources and support for people from different cultures and communities</li>-->
   <!-- Removed at DHSC request dut to bias <li><a href=“https://www.archtrust.org.uk/”>ARCH Trust</a> offers support and counselling for people who have had a medical termination for any reason</li>-->
 </ul>
      <h3 class="govuk-heading-m">Contact a helpline</h3>
      <p>These free helplines are there to help when you're feeling down or desperate.</p>
      <p>Unless it says otherwise, they're open 24 hours a day, every day.</p>
      <p>You can also call these helplines for advice if you're worried about someone else.</p>
      <p>Samaritans – for everyone<br>
        Call 116 123<br>
        Email <br>
        <a href="">jo@samaritans.org</a></p>
        <p>Campaign Against Living Miserably (CALM)<br>
          Call 0800 58 58 58 <br>5pm to midnight every day</p>
          <p>Visit the webchat page.</p>


<p>
        <a href="#">
          What did you think of this service?
        </a> (takes 30 seconds)
      </p>


      <p>

      </p>

</form>
    </div>
  </div>

{% endblock %}
