{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-width-container app-width-container">
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        Beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-form-group">
  <div class="govuk-grid-column-two-thirds">
  <span class="govuk-caption-l">Details on the certificate</span>
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
  <h1 class="govuk-fieldset__heading">
    Would you like your baby’s name on the certificate?
    
  </h1>
</legend>
<p>You may not have named your baby.</p>
<div id="passport-issued-hint" class="govuk-hint">
  If you select ‘No’, this will not be shown on the certificate.
</div>

      <form class="form" action="baby-name-version1" method="post">

        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="years-yes" name="years" type="radio" value="yes" data-aria-controls="conditional-contact">
            <label class="govuk-label govuk-radios__label" for="contact">
              Yes
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
            <div class="govuk-form-group">
              <div id="passport-issued-hint" class="govuk-hint">
                Baby's name
              </div>
              <input class="govuk-input" id="baby-name" name="baby-firstname" type="text">
            </div>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="babys" name="years" type="radio" value="no" data-aria-controls="conditional-contact-2">
            <label class="govuk-label govuk-radios__label" for="contact-2">
              No
            </label>
          </div>
            </div>
          </div>
          </fieldset>
       
       </div>
       </div>
        <button class="govuk-button" data-module="govuk-button" type="submit">
          Continue
        </button>

      </form>

    </div>
  </div>
  <style>
    .govuk-button {
      margin-left: 15px;
    }
  </style>

{% endblock %}
