{% extends "layouts/main-beta.html" %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '' %}

{% set heading = "You cannot request another access code" %}

{% block pageTitle %}
  {{ heading }} – {{ serviceName }} – NHSBSA
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="location-england" method="post">

      {% call govukFieldset({
        legend: {
          text: heading,
          classes: "govuk-fieldset__legend--l",
          isPageHeading: true
        }
      }) %}
        
      <p>There is a limit to the number of times you can request a new access code.</p>
      <p>Problems with the access codes? <a href="">You can get help</a></p>

      {% endcall %}

      {{ govukButton({
        text: "Continue"
      }) }}`

    </form>
  </div>
</div>
{% endblock %}

{% block footer %}
  {% include 'beta/v11/includes/footer.html' %}
{% endblock %}