{% extends "layouts/main-ccs.html" %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '1' %}

{% set heading = "We cannot provide a baby loss certificate because you can only use this service if your baby loss happened in England" %}

{% block pageTitle %}
  {{ heading }} – {{ serviceName }} – NHSBSA
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "living-in-england"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">{{ heading }}</h1>

    <h2 class="govuk-heading-m">Support organisations</h2>

    <p>The following organisations give support and advice:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li><a href=''>Sands</a></li>
      <li><a href=''>Tommy's</a></li>
      <li><a href="">Antenatal Results and Choices (ARC)</a></li>
      <li><a href="">Saying Goodbye</a></li>
      <li><a href="">The Miscarriage Association</a></li>
      <li><a href="">Petals</a></li>
      <li><a href="">NHS How to access mental health services</a></li>
    </ul>

  </div>
</div>

{% endblock %}

{% block footer %}
  {% include 'beta/v11/includes/footer.html' %}
{% endblock %}