{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-width-container app-width-container">
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        Beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<span class="govuk-caption-l">Details on the certificate</span>
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
  <h1 class="govuk-fieldset__heading">
    Baby's sex
    
  </h1>
</legend>

      <form class="form" action="/live-parent2/babys-name" method="post">
        
         
        <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="baby-gender" name="baby-gender" type="radio" value="Male">
            <label class="govuk-label govuk-radios__label" for="yes">
              Male
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="baby-gender" name="baby-gender" type="radio" value="Female">
            <label class="govuk-label govuk-radios__label" for="no">
              Female
            </label>
          </div>
        </div>
            </div>
          </fieldset>
        

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>

    </div>
  </div>

{% endblock %}
