{% extends "layouts/main.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
 
{{ govukBreadcrumbs({
items: [
{
text: "Home",
href: "#"
},
{
text: "Section",
href: "#"
},
{
text: "Request a baby loss certificate"
}
]
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
     Request a baby loss certificate
    </h1>
    <p>Use this service to get a certificate in memory of your baby.</p>
    <p>The certificate recognises a baby loss before 24 weeks of pregnancy.</p>
    
    <p></p>
    <p>You can <a href="">find out more about the certificate</a>.</p>

    
     
    <h2 class="govuk-heading-l">
      Before you start
    </h2>
    <p>You can use this service if you:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>live in the UK</li>
      <li>have had a baby loss before 24 weeks of pregnancy</li>
      <li>have had a baby loss in the last 5 years in England</li>
      <li>have a <a href="">parental relationship</a> to the baby</li>  
      <li>are aged 13 or over</li>
      
     
      
    </ul>
   
    <p>You'll need:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>permission from another parent if you choose to name them on the certificate</li>
      <li>your NHS number and postcode registered with your GP</li>
      <li>access to the mobile phone or email address registered with your GP</li>
    </ul>

    <p>The certificate will not be added to your GP record.</p>
    
    <div class="govuk-inset-text">
      The certificate is not a legal document.
    </div>

    <p>By using this service you are agreeing to its <a href="">terms of use and privacy policy</a>.</p>
    {{ govukButton({
    text: "Start now",
    href: "enter-location",
    isStartButton: true
    }) }}


<h2 class="govuk-heading-m">
 Other ways to apply
</h2>
<p>If you're unable to use this digital service, <a href="">you can apply offline</a>.</p>
<p>If you need the certificate in a different format, <a href="">contact us</a>.</p>
  </div>

  
</div>


{% endblock %}