{% extends "layouts/main-ccs2.html" %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '' %}

{% set heading = "What is your reference number?" %}

{% block pageTitle %}
  {{ heading }} – {{ serviceName }} – NHSBSA
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "start-page"
  }) }}
{% endblock %}

{% block content %}


  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
  <h1 class="govuk-fieldset__heading">
    Did your pregnancy loss happen in England?
  </h1>
</legend>

      <form class="form" action="location-england" method="post">
        
         
        <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="location-england-yes" name="location" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="location-england-yes">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="location-england-no" name="location" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="location-england-no">
              No
            </label>
          </div>
        </div>
           
          </fieldset>
        </div>
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Why we're asking you this question
            </span>
          </summary>
          <div class="govuk-details__text">
            We need to check you're eligible to use this service.
          </div>
        </details>

        <button class="govuk-button" data-module="govuk-button" type="submit">
          Continue
        </button>

      </form>

    </div>
  </div>
  <style>
    .govuk-fieldset__heading {
      margin-bottom: 30px;
    }
    
  </style>

{% endblock %}
