{% extends "layouts/main-ccs.html" %}

{% block pageTitle %}
Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<span class="govuk-caption-l">Your details</span>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">Confirm your postal address</h1>
    <p>This is the address your certificate will be sent to.</p>
    <p>If this is not the correct address, you will need to contact your GP surgery.</p>
    <form class="form" action="alternative-postaddress" method="post">
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['parent1-firstname'] %}
            {{ data['parent1-firstname'] }} {{ data['parent1-lastname'] }}
            {% else %}
            Example name
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">

          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            4 Albert Road<br>Newcastle<br>NE1 3JA
          </dd>
          <dd class="govuk-summary-list__actions">

          </dd>
        </div>

      </dl>




      </dl>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h2 class="govuk-heading-m">
              Is this address correct?
            </h2>
          </legend>


          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="alternative-postaddress" name="postdetails" type="radio"
                value="yes">
              <label class="govuk-label govuk-radios__label" for="check-details-no">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="alternative-postaddress" name="postdetails" type="radio"
                value="no">
              <label class="govuk-label govuk-radios__label" for="check-details-no">
                No
              </label>
            </div>
            <div class="govuk-radios__divider">or</div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="alternative-postaddress" name="postdetails" type="radio"
                value="alternative">
              <label class="govuk-label govuk-radios__label" for="check-details-no">
                Alternative
              </label>
            </div>
          </div>
        </fieldset>
     

      <button class="govuk-button" data-module="govuk-button" type="submit">
        Continue
      </button>
    </form>
  </div>
  </div>
</div>
</main>
</div>


<style>
  .govuk-button {
    margin-top: 30px;
  }
</style>
{% endblock %}