{% extends "layouts/main-ccs.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
  }) }}
  {% endblock %}

  {% block content %}
  <div class="govuk-form-group">
  <span class="govuk-caption-l">Your details</span>
    <div class="govuk-grid-column-two-thirds">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Enter your security code
          </h1>
        </legend>

        <form action="security-code" class="form" method="post">

          <p>We sent your security code by email to Sa********@gmail.com</p>

          <div class="govuk-body">
            If you do not receive the email within a few minutes, check your spam or junk mail folder.
          </div>
          <input aria-describedby="nhs-number-hint" class="govuk-input govuk-input--width-10" id="security-code"
            inputmode="numeric" name="entercode" type="text">

    
      
      <p>Didn't get your security code?
        <a href="">Resend code
        </a>
      </p>

      {{ govukButton({
      text: "Continue",
      href: "check-your-details-nhs",
      isStartButton: false
      }) }}
    </fieldset>
      </form>
    </div>
</div>
</div>
<style>
  .govuk-caption-l {
    margin-left: 15px;
  }
  .govuk-input {
    margin-bottom: 10px;
  }
</style>


    {% endblock %}