{% extends "layouts/main-ccs2.html" %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '' %}

{% set heading = "What is your reference number?" %}

{% block pageTitle %}
  {{ heading }} – {{ serviceName }} – NHSBSA
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "start-page"
  }) }}
{% endblock %}

{% block content %}


  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      
We cannot provide a baby loss certificate because we need the other parent's email address.
    </h1>
<p>You and the other parent will need to <a href="">contact us</a>.</p>
    
    <h2 class="govuk-heading-m">Support organisations</h2>
    <p>The following organisations give support and advice:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href=''>Sands</a></li>
      <li><a href=''>Tommy's</a></li>
      <li><a href="">Antenatal Results and Choices (ARC)</a></li>
      <li><a href="">Saying Goodbye</a></li>
      <li><a href="">The Miscarriage Association</a></li>
      <li><a href="">Petals</a></li>
      <li><a href="">NHS How to access mental health services</a></li>
      <li><a href="">Daddy's with angels</a></li>
    </ul>
  </div>
</div>

{% endblock %}
