{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

 
{% endblock %}

{% block content %}
<div class="govuk-form-group">
  <div class="govuk-grid-column-two-thirds">
<div class="govuk-form-group">
 
  <fieldset class="govuk-fieldset">
    
<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
  <h1 class="govuk-fieldset__heading">
    You cannot request another access code
  </h1>
</legend>

      <form class="form" action="location-england" method="post">
        
        <p class="govuk-body">There is a limit to the number of times you can request a new access code.</p>
        <p class="govuk-body">Problems with the access codes?<a href=""> You can get help</a></p>
        

        </div>
        </div>
           
          </fieldset>
        </div>
       

        <button class="govuk-button" data-module="govuk-button" type="submit">
         Try again
        </button>

      </form>
    </div>
    </div>
  </div>
<style>
  .govuk-button {
    margin-left: 10px;
  }
</style>

{% endblock %}
