{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
  
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
  <h1 class="govuk-fieldset__heading">
   Second parent spike scenarios 1,2 & 3
    
  </h1>
  <div class="govuk-inset-text">
    password: version6
  </div>
  
</legend>
<iframe width="768" height="432" src="https://miro.com/app/live-embed/uXjVMuCGTPM=/?moveToViewport=-82264,-67722,310706,208177&embedId=466232225831" frameborder="0" scrolling="no" allow="fullscreen; clipboard-read; clipboard-write" allowfullscreen></iframe>
     
      </form>

    </div>
  </div>
  <style>
    .govuk-fieldset__heading {
      margin-bottom: 30px;
    }
    
  </style>

{% endblock %}
