{% extends "layouts/main.html" %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/index",
    serviceName: "BLC certificate manager",
    serviceUrl: "start",
    navigation: [
      {
        href: "start",
        text: "Home"
      },
      {
        href: "/beta/v11/ccs/start-page",
        text: "Request (P1)"
      },
      {
        href: "/beta/v11/ccs/parent2/start-page",
        text: "Request (P2)"
      },
      {
        href: "search",
        text: "Search",
        active: true
      },
      {
        href: "start",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back to certificate details",
    href: "cert-details"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-form-group">
  <div class="govuk-grid-column-two-thirds">
<div class="govuk-form-group">
<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
  <h1 class="govuk-fieldset__heading">
    Do you want to reissue a duplicate certificate?
  </h1>
</legend>

      <form class="form" action="reissue-check-crm" method="post">
        
         
        <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="reissue-check-crm" name="reissue-a-cert" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="reissue-check-yes">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="reissue-check-crm" name="reissue-a-cert" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="reissue-check-no">
              No
            </label>
          </div>
        </div>
           
          </fieldset>
       

        <button class="govuk-button" data-module="govuk-button" type="submit">
          Continue
        </button>


{% endblock %}
