{% extends "layouts/main.html" %}

{% set heading = "Check the status of a certificate request" %}

{% block pageTitle %}
{{ heading }} – {{ serviceName }} – NHSBSA
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/index",
    serviceName: "BLC certificate manager",
    serviceUrl: "start",
    navigation: [
    {
      href: "start",
      text: "Home"
      },
      {
        href: "request",
        text: "Request (P1)"
      },
      {
        href: "request2",
        text: "Request (P2)"
      },
      {
        href: "search",
        text: "Search",
        active: true
      },
      {
        href: "start",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-l">{{ heading }}</h1>


    <form action="get-results" method="post" autocomplete="off">

      {% call govukFieldset({
        legend: {
          text: "Use at least 1 field to search",
          classes: "govuk-fieldset__legend--m"
        }
      }) %}

      {{ govukInput({
        label: {
          text: "Reference number"
        },
        classes: "govuk-input--width-10 govuk-input--extra-letter-spacing",
        id: "reference-number",
        name: "reference-number",
        value: referenceNumber,
        spellcheck: false
      }) }}

      {{ govukInput({
        label: {
          text: "First name"
        },
        classes: "govuk-input--width-20 govuk-input--extra-letter-spacing",
        id: "first-name",
        name: "first-name",
        value: firstName,
        spellcheck: false
      }) }}

      {{ govukInput({
        label: {
          text: "Last name"
        },
        classes: "govuk-input--width-20 govuk-input--extra-letter-spacing",
        id: "last-name",
        name: "last-name",
        value: lastName,
        spellcheck: false
      }) }}

      {{ govukInput({
        label: {
          text: "Email"
        },
        classes: "govuk-input--width-20 govuk-input--extra-letter-spacing",
        id: "email",
        name: "email",
        value: email,
        spellcheck: false
      }) }}

      {{ govukDateInput({
        id: "dob",
        namePrefix: "[date-of-birth]",
        fieldset: {
          legend: {
            text: "Date of birth"
          }
        },
        hint: {
          text: "For example, 27 3 2007"
        },
        items: [
          {
            name: "day",
            classes: "govuk-input--width-2",
            value: dobDay,
            autocomplete: "bday-day"
          },
          {
            name: "month",
            classes: "govuk-input--width-2",
            autocomplete: "bday-month",
            value: dobMonth
          },
          {
            name: "year",
            classes: "govuk-input--width-4",
            autocomplete: "bday-year",
            value: dobYear
          }
        ]
      }) }}

      {{ govukInput({
        label: {
          text: "Postcode"
        },
        classes: "govuk-input--width-10",
        id: "search-postcode",
        value: searchPostcode,
        name: "search-postcode"
      }) }}

    {% endcall %}

    {{ govukButton({
    text: "Search",
    classes: "govuk-!-margin-top-0"
    }) }}

    {{ govukButton({
      text: "Reset Form",
      classes: "govuk-button--secondary govuk-!-margin-top-0 govuk-!-margin-left-4",
      href: "search?clear=true"
    }) }}

    </form>
  </div>

</div>
        
{% endblock %}
