{% extends "layouts/main.html" %}

{% block pageTitle %}
 
{% endblock %}

{% block beforeContent %}
<div class="govuk-width-container app-width-container">
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        Beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

{% endblock %}

{% block content %}
<main id="content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="cookie-settings__confirmation" data-cookie-confirmation="true">

      </div>

      

<div class="gem-c-title govuk-!-margin-top-8 govuk-!-margin-bottom-8">

  <h1 class="gem-c-title__text govuk-heading-xl">
    Cookies on GOV.UK
  </h1>
</div>

      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak" data-govspeak-module-started="true">
    
        <p>Cookies are files saved on your phone, tablet or computer when you visit a website.</p>
        <p>We use cookies to collect and store information about how you use the GOV.UK website and government digital services, such as the pages you visit. 'Government digital services' means any page with service.gov.uk in the URL.</p>
        <p>This page has a brief explanation of each type of cookie we use. If you want more details, <a href="/help/cookie-details" data-module="gem-track-click" data-track-category="cookieSettings" data-track-action="Find out more about cookies" data-gem-track-click-module-started="true"> read our detailed cookie information</a>.</p>

</div>

      <h2 class="govuk-heading-m">Cookie settings</h2>


      <div class="cookie-settings__no-js">
        
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak" data-govspeak-module-started="true">
    
        <p class="govuk-body">We use 4 types of cookie. You can choose which cookies you're happy for us to use.</p>

        <form data-module="cookie-settings" data-cookie-settings-module-started="true">

          <div class="govuk-form-group govuk-!-margin-bottom-6">
  <fieldset class="govuk-fieldset" aria-describedby="hint-445eb326">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        
        <h2 class="govuk-fieldset__heading">Cookies that measure website use</h2>
</legend>
      
<div id="hint-445eb326" class="gem-c-hint govuk-hint">
              <p class="govuk-body govuk-hint">We use Google Analytics cookies to measure how you use GOV.UK and government digital services.</p>
            <p class="govuk-body govuk-hint">These cookies collect information about:</p>
            <ul class="govuk-list--bullet govuk-hint">
              <li>how you got to these sites</li>
              <li>the pages you visit and how long you spend on each page</li>
              <li>what you click on while you're visiting these sites</li>
            </ul>
            <p class="govuk-body govuk-hint">We also use LUX Real User Monitoring software cookies from SpeedCurve to measure your web performance experience while visiting GOV.UK.</p>
            <p class="govuk-body govuk-hint">LUX software cookies collect and store information about how well pages performed on your device, including whether there were any performance bottlenecks or JavaScript errors.</p>
            <p class="govuk-body govuk-hint">We do not allow Google or SpeedCurve to use or share the data about how you use these sites.</p>

</div>


    <div class="govuk-radios">
          <div class="gem-c-radio govuk-radios__item">
            <input type="radio" name="cookies-usage" id="radio-f89ff973-0" value="on" class="govuk-radios__input">
            
  <label for="radio-f89ff973-0" class="gem-c-label govuk-label govuk-radios__label">Use cookies that measure my website use</label>


</div>

          <div class="gem-c-radio govuk-radios__item">
            <input type="radio" name="cookies-usage" id="radio-f89ff973-1" value="off" class="govuk-radios__input">
            
  <label for="radio-f89ff973-1" class="gem-c-label govuk-label govuk-radios__label">Do not use cookies that measure my website use</label>


</div>

</div>
</fieldset>
</div>


          <div class="govuk-form-group govuk-!-margin-bottom-6">
  <fieldset class="govuk-fieldset" aria-describedby="hint-cb8c13ea">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        
        <h2 class="govuk-fieldset__heading">Cookies that help with our communications and marketing</h2>
</legend>
      
<div id="hint-cb8c13ea" class="gem-c-hint govuk-hint">
              <p class="govuk-body govuk-hint">These cookies may be set by third party websites and do things like measure how you view YouTube videos that are on GOV.UK.</p>

</div>


    <div class="govuk-radios">
          <div class="gem-c-radio govuk-radios__item">
            <input type="radio" name="cookies-campaigns" id="radio-c55bea94-0" value="on" class="govuk-radios__input">
            
  <label for="radio-c55bea94-0" class="gem-c-label govuk-label govuk-radios__label">Use cookies that help with communications and marketing</label>


</div>

          <div class="gem-c-radio govuk-radios__item">
            <input type="radio" name="cookies-campaigns" id="radio-c55bea94-1" value="off" class="govuk-radios__input">
            
  <label for="radio-c55bea94-1" class="gem-c-label govuk-label govuk-radios__label">Do not use cookies that help with communications and marketing</label>


</div>

</div>
</fieldset>
</div>

          <div class="govuk-form-group govuk-!-margin-bottom-6">
  <fieldset class="govuk-fieldset" aria-describedby="hint-948f5ea4">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        
        <h2 class="govuk-fieldset__heading">Cookies that remember your settings</h2>
</legend>
      
<div id="hint-948f5ea4" class="gem-c-hint govuk-hint">
  These cookies do things like remember your preferences and the choices you make, to personalise your experience of using the site.
</div>


    <div class="govuk-radios">
          <div class="gem-c-radio govuk-radios__item">
            <input type="radio" name="cookies-settings" id="radio-06945390-0" value="on" class="govuk-radios__input">
            
  <label for="radio-06945390-0" class="gem-c-label govuk-label govuk-radios__label">Use cookies that remember my settings on the site</label>


</div>

          <div class="gem-c-radio govuk-radios__item">
            <input type="radio" name="cookies-settings" id="radio-06945390-1" value="off" class="govuk-radios__input">
            
  <label for="radio-06945390-1" class="gem-c-label govuk-label govuk-radios__label">Do not use cookies that remember my settings on the site</label>


</div>

</div>
</fieldset>
</div>

          
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak" data-govspeak-module-started="true">
  <h2 class="govuk-heading-m">Strictly necessary cookies</h2>
        
            <p>These essential cookies do things like remember your progress through a form (for example a licence application)</p>
            <p>They always need to be on.</p>

</div>

          


  <button class="gem-c-button govuk-button" type="submit">Save changes</button>


        </form>
      </div>

      <div class="cookie-settings__gov-services">
        <h2 class="govuk-heading-m">Government services</h2>

        <p class="govuk-body">Government digital services are run by different government departments, such as the Department for Work and Pensions (DWP) and HM Revenues and Customs (HMRC).</p>
        <p class="govuk-body">These services may set additional cookies and, if so, will have their own cookie policy and banner linking to it.</p>
      </div>
    </div>
  </div>
</main>
</div>
{% endblock %}
