{% extends "layouts/main-beta.html" %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '0' %}

{% set heading = "Did your pregnancy loss happen in England?" %}

{% block pageTitle %}
{{ heading }} – {{ serviceName }} – NHSBSA
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "enter-location-uk"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="baby-loss-in-england-post" method="post">

      {% include 'beta/v10-copy/includes/step.html' %}

      {% call govukFieldset({
        legend: {
          text: heading,
          classes: "govuk-fieldset__legend--l",
          isPageHeading: true
        }
      }) %}

      {{ govukRadios({
        classes: "govuk-radios--inline",
        name: "loss-in-england",
        items: [
          {
            value: "Yes",
            text: "Yes",
            checked: checked("loss-in-england", "Yes")
          },
          {
            value: "No",
            text: "No",
            checked: checked("loss-in-england", "No")
          }
        ]
      }) }}

      {% endcall %}

      {{ govukDetails({
        summaryText: "Why we're asking you this question",
        text: "We need to check you're eligible to use this service."
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}

{% block footer %}
  {% include 'beta/v10-copy/includes/footer.html' %}
{% endblock %}