{% extends "layouts/main-beta.html" %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '1' %}

{% set heading = "What is your postcode?" %}

{% block pageTitle %}
  {{ heading }} – {{ serviceName }} – NHSBSA
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "enter-date-of-birth"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="check-your-details" method="post">

      {% include 'beta/v10-copy/includes/step.html' %}

      {% call govukFieldset({
        legend: {
          text: heading,
          classes: "govuk-fieldset__legend--l",
          isPageHeading: true
        }
      }) %}

      <p>You must enter the home postcode you registered with your GP surgery.</p>
      <p>This is the address your certificate will be sent to.</p>

      {{ govukInput({
        id: "postcodeinput",
        name: "postcodeinput",
        classes: "govuk-input--width-10",
        hint: {
          text: "For example, EN1 1BE"
        },
        value: data['postcodeinput'],
        autocomplete: "postal-code",
        label: {
          text: "Postcode"
        },
        spellcheck: false
      }) }}

      {% endcall %}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}

{% block footer %}
  {% include 'beta/v10-copy/includes/footer.html' %}
{% endblock %}