{% extends "layouts/main.html" %}

{% block pageTitle %}
 
{% endblock %}

{% block beforeContent %}
<div class="govuk-width-container app-width-container">
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

{% endblock %}

{% block content %}
<main id="content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="cookie-settings__confirmation" data-cookie-confirmation="true">

      </div>

      

<div class="gem-c-title govuk-!-margin-top-8 govuk-!-margin-bottom-8">

  <h1 class="gem-c-title__text govuk-heading-xl">
    Cookies on GOV.UK
  </h1>
</div>

      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak" data-govspeak-module-started="true">
    
        <p>Cookies are small files saved on your phone, tablet or computer when you visit a website.</p>
        <p>We use cookies to make the Baby Loss Certificate Service work and collect information about how you use our service.</p>

</div>

      <h2 class="govuk-heading-m">Essential cookies</h2>

      <p>Essential cookies keep your information secure while you use Notify. We do not need to ask permission to use them.</p>
      <table>
        <caption class="govuk-visually-hidden">Essential cookies</caption>
        <thead>
            <tr>
                <th>Name</th>
                <th>Purpose</th>
                <th>Expires</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                  pregnancy-loss-certificate.sid
                </td>
                <td width="50%">
                  Used to keep you signed in
                </td>
                <td>
                  30 minutes
                </td>
            </tr>
            <tr>
                <td>
                  nhsbsa.x-csrf-token
                </td>
                <td width="50%">
                  
                </td>
                <td>
                 
                </td>
            </tr>
            <tr>
              <td>
                lang
              </td>
              <td width="50%">
                
              </td>
              <td>
               
              </td>
          </tr>
          <tr>
            <td>
              isBrowserCookieEnabled
            </td>
            <td width="50%">
              Saves your cookie consent settings
            </td>
            <td>
              1 year
            </td>
        </tr>
        </tbody>
      
    </table>
 
 
    <h2 class="govuk-heading-m">Analytics cookies (optional)</h2>
    <p class="govuk-body">
      With your permission, we use Google Analytics to collect data about how you use Notify. This information helps us to improve our service.
    </p>
    <p class="govuk-body">
      Google is not allowed to use or share our analytics data with anyone.
    </p>
    <p class="govuk-body">
      Google Analytics stores anonymised information about:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>how you got to the Baby Loss Certificate Service</li>
      <li>the pages you visit on the Baby Loss Certificate Service and how long you spend on them</li>
      <li>any errors you see while using the Baby Loss Certificate Service</li>
    </ul>
    <table>
      <caption class="govuk-visually-hidden">Google Analytics cookies</caption>
      <thead>
          <tr>
              <th>Name</th>
              <th>Purpose</th>
              <th>Expires</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>
                _ga
              </td>
              <td width="50%">
                Checks if you’ve visited the Baby Loss Certificate Service before. This helps us count how many people visit our site.
              </td>
              <td>
                2 years
              </td>
          </tr>
          <tr>
              <td>
                _gid
              </td>
              <td width="50%">
                Checks if you’ve visited the Baby Loss Certificate Service before. This helps us count how many people visit our site.
              </td>
              <td>
                24 hours
              </td>
          </tr>
      </tbody>
  </table>
  <div class="cookie-settings__form-wrapper">
    <form data-notify-module="cookie-settings">
      <div class="govuk-form-group govuk-!-margin-top-6">
        <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            Do you want to accept analytics cookies?
          </legend>
          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="cookies-analytics-yes" name="cookies-analytics" type="radio" value="on">
              <label class="govuk-label govuk-radios__label" for="cookies-analytics-yes">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="cookies-analytics-no" name="cookies-analytics" type="radio" value="off">
              <label class="govuk-label govuk-radios__label" for="cookies-analytics-no">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      



  


<button class="govuk-button" data-module="govuk-button">
Save cookie settings
</button>


    </form>
  </div>
</main>
</div>
<style>

table {
    border-collapse: collapse;
    border-spacing: 0;
    width:100%;
    margin-bottom: 20px;
}

table td, table th {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    padding: .6315789474em 1.0526315789em .4736842105em 0;
    text-align: left;
    border-bottom:1px solid #b1b4b6
}

@media print {
    table td, table th {
        font-family:sans-serif
    }
}

@media (min-width: 40.0625em) {
    table td, table th {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height:1.3157894737
    }
}

@media print {
    table td, table th {
        font-size: 14pt;
        line-height:1.15
    }
}

table thead th {
    font-weight:700
}

table td:last-child, table th:last-child {
    padding-right:0
}

table .numeric {
    text-align:right
}

table td.numeric {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-feature-settings: "tnum" 1;
    font-feature-settings: "tnum" 1;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height:1.25
}

@media print {
    table td.numeric {
        font-family:sans-serif
    }
}

@supports (font-variant-numeric: tabular-nums) {
    table td.numeric {
        -webkit-font-feature-settings: normal;
        font-feature-settings: normal;
        font-variant-numeric:tabular-nums
    }
}

@media (min-width: 40.0625em) {
    table td.numeric {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height:1.3157894737
    }
}

@media print {
    table td.numeric {
        font-size: 14pt;
        line-height:1.15
    }
}

table caption {
    text-align:left
}

.table-font-xsmall th {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 14px;
    font-size: .875rem;
    line-height:1.1428571429
}

@media print {
    .table-font-xsmall th {
        font-family:sans-serif
    }
}
</style>
{% endblock %}
