{% extends "layouts/main-backoffice.html" %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '4' %}

{% set heading = "What is your address?" %}

{% block pageTitle %}
{{ heading }} – {{ serviceName }} – NHSBSA
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "enter-address"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="add-parent" method="post">

      {% include 'beta/v11/includes/step.html' %}

      {% call govukFieldset({
        legend: {
          text: heading,
          classes: "govuk-fieldset__legend--l",
          isPageHeading: true
        }
      }) %}

      <p>
        <span class="govuk-!-margin-bottom-1 govuk-!-display-block">Postcode</span>
        <strong>{{ data['address-postcode-prev'] or 'LS1 3BE' }}</strong>
        <a href="address-postcode-current" class="govuk-!-margin-left-5">
          Change
          <span class="govuk-visually-hidden"> your postcode</span>
        </a>
      </p>

      <div class="govuk-form-group">
        <label class="govuk-label" for="delivery-address">
          Choose your address from the list
        </label>
        <select class="govuk-select" id="delivery-address" name="previous-address">
          <option value="">5 addresses found</option>
          <option value="address1">Oxford House, Oxford Row, Leeds, {{ data['address-postcode-prev'] or 'LS1 3BE' }}</option>
          <option value="address2">Office 14 New Station St, Leeds, LS1 5DL</option>
          <option value="address3">38 Park Square North, Leeds, LS1 2NY</option>
          <option value="address4">Lion House, 41, York Place, Leeds, LS1 2ED</option>
          <option value="address5">1 Whitehall Quay Whitehall Rd, Leeds, LS1 4HR</option>
        </select>
      </div>

      <p class="govuk-!-margin-top-6 govuk-!-margin-bottom-6"><a href="what-is-your-address">My address isn't listed</a></p>

      {% endcall %}

      {{ govukButton({
        text: "Continue"
      }) }}

      </form>
    </div>
  </div>

{% endblock %}

{% block footer %}
  {% include 'beta/v11/includes/footer.html' %}
{% endblock %}