{% extends "layouts/main.html" %}

{% block pageTitle %}
Confirm your name – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<span class="govuk-caption-l">Your details</span>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <h1 class="govuk-heading-l">Confirm your name</h1>
        <p>This is how your name will be displayed on the certificate.</p>
        <form class="form" action="confirm-name" method="post">

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Name
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['parent1-firstname'] %}
              {{ data['parent1-firstname'] }} {{ data['parent1-lastname'] }}
              {% else %}
              Example name
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">

            </dd>
          </div>

          </dl>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h2 class="govuk-heading-m">
                Is this name correct?
              </h2>
            </legend>
            <div id="event-name-hint" class="govuk-hint">If your name is displayed incorrectly or you'd like a different name on your certificate, for example a maiden name, select No.</div>

            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="confirm-name-yes" name="confirm-name" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="confirm-name-yes">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="confirm-name-no" name="confirm-name" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="cconfirm-name-no">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button" type="submit">
          Continue
        </button>
        </form>
      </div>
    </div>
  </main>
</div>

{% endblock %}
