{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirmation page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-form-group">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "Request pending",
        html: "Your application number<br><strong>J4R-8H5-2K9F1</strong>"
      }) }}
<h2 class="govuk-heading-m">
              Certificate reference numbers
            </h2>
   
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Certificate 1 
          </dt>
          <dd class="govuk-summary-list__value">
            ABC-DEF-2K9F1
          </dd> 
        </div>
      </dl>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Certificate 2 
          </dt>
          <dd class="govuk-summary-list__value">
            ZYC-DEF-2K9F1
          </dd> 
        </div>
      </dl>
      
      
      
      
      
         
      
            <h2 class="govuk-heading-m">
              What happens next
            </h2>
            
            <p>The other parent will have 7 days to give permission to be named on the certificates.</p>  
      
            <p>If we get their permission, you'll then receive the certificates within 14 days.</p>
            <h2 class="govuk-heading-m">If the other parent does not give permission</h2>
            <p>You told us you’d still like to receive certificates that show only your name as a parent of your baby, if the other parent does not give permission to be named on the certificates.</p>
            <p>If they do not respond after 7 days, you’ll then receive the certificates within 14 days.</p>
            

<h2 class="govuk-heading-m"> Would you like to request a <br> certificates for another baby loss?</h2>


<form class="form" action="another-request-cert" method="post">

<div class="govuk-radios" data-module="govuk-radios">
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="another-request-cert" name="certreq" type="radio" value="yes" data-aria-controls="conditional-contact">
    <label class="govuk-label govuk-radios__label" for="yes">
      Yes, I'd like to request another certificate
    </label>
  </div>
  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
    <div class="govuk-form-group">
      <label class="govuk-label" for="contact-by-email">
        You'll need to answer some questions again. This is because the next certificate is for another baby loss.<br>
        
        
      </label>
     
    </div>
  </div>
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="another-request-cert" name="certreq" type="radio" value="no">
    <label class="govuk-label govuk-radios__label" for="no">
      No, I do not want to request another certificate
    </label>
  </div>
 <br>
  <button class="govuk-button" data-module="govuk-button" type="submit">
    Continue
  </button>



</form>

  <style>
    .govuk-panel--confirmation {
    color: #0b0c0c;
    background: #f3f2f1;;
}
  </style>

{% endblock %}
