{% extends "layouts/main.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-width-container app-width-container">
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        Beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
</div>
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!--<h1 class="govuk-fieldset__heading">What's your name?</h1>-->

      <h1 class="govuk-heading-l">
          <span class="govuk-caption-l">Other parent's details</span>
          What is the other parent's email address?
      </h1>


      <form action="parent-contact" class="form" method="post">


        <div class="govuk-form-group">
          <label class="govuk-label" for="other-email">
            Enter email address
          </label>
          <input class="govuk-input" id="other-email" name="other-email" type="text" autocomplete="email" spellcheck="false">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="other-email-confirm">
            Confirm email address
          </label>
          <input class="govuk-input" id="other-email-confirm" name="other-email-confirm" type="text" autocomplete="email" spellcheck="false">

        </div>


        {{ govukButton({
          text: "Continue",
          isStartButton: false
          }) }}

        </form>

    </div>
  </div>
{% endblock %}
