{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-width-container app-width-container">
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        Beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="parent-add" method="post">
    <div class="govuk-form-group">

      <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        What happens next

      </h1>
    </legend>

    <p>We’ll ask you for the other parent’s date of birth. This is because we need to match their details with their GP record, if they give permission for their name to be on the certificate.</p>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          If the name on their GP record was not their name at the time of loss
        </span>
      </summary>
      <div class="govuk-details__text">
        <p>You can only request a certificate using the name on their GP record.</p>
        <p>You can <a href="contact">contact us to request a certificate with a different name</a>, for example a maiden name.</p>
      </div>
    </details>

    <div class="govuk-inset-text">
        If the date of birth you enter for the other parent does not match the date they enter, your request for a certificate will be cancelled.
    </div>

    <p>The other parent will have up to 7 days to give permission before the request is complete.</p>

    <p>If we get their permission, you'll then receive the certificate within 14 days.</p>


    {{ govukButton({
      text: "Continue",
      href: "second-parent-question",
      isStartButton: false
      }) }}

    </div>
    </div>
  </div>
</div>
  <style>

  </style>

{% endblock %}
