{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-width-container app-width-container">
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        Beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
 
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      We cannot provide a baby loss certificate
    </h1>
    <p>You must be aged 16 or over to use this service.</p>

    <h3 class="govuk-heading-m">Support organisations</h3>
    <p>The following organisations give support and advice:</p>
    <ul class="govuk-list govuk-list--bullet">
      
  <li><a href="www.nhs.uk/mental-health/social-care-and-your-rights/how-to-access-mental-health-services/">NHS How to access mental health services</a></li>
  <li><a href="www.arc-uk.org">Antenatal Results and Choices (ARC)</a></li>
  <li><a href="www.daddyswithangels.org">Daddy’s with Angels</a></li>
  <li><a href="www.petalscharity.org ">Petals</a></li>
      <li><a href=“https://www.sands.org.uk/”>Sands</a></li>
  <li><a href="www.sayinggoodbye.org">Saying Goodbye</a></li>
  <li><a href="https://ectopic.org.uk/">The Ectopic Pregnancy Trust</a></li>
  <li><a href="www.miscarriageassociation.org.uk">The Miscarriage Association</a></li>
     <li><a href=“www.tommys.org”>Tommy's</a></li>
     <li><a href=“https://twinstrust.org/”>Twins Trust</a></li>
    </ul>
   </div>

  </div>
</div>
  <style>
    .govuk-fieldset__heading {
      margin-bottom: 30px;
    }
    
  </style>
{% endblock %}
