{% extends "layouts/main.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-width-container app-width-container">
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        Beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
  }) }}
  {% endblock %}

  {% block content %}
  <div class="govuk-form-group">
    <div class="govuk-grid-column-two-thirds">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            We cannot provide a baby loss certificate at this time
          </h1>
        </legend>

        <form class="form" action="location-england" method="post">

          <p class="govuk-body">Currently, we can only issue certificates to parents or surrogates living in England.</p>


      </fieldset>
      <p class="govuk-body">If you think your address is in England, you can contact us Monday to Friday, 9am to 5pm:</p>
     
        <p>Telephone: 0300 330 9445<br>
       Outside UK: +44 191 267 0884</p>

        <p><a href="/call-charges">Find out about call charges</a></p>

    <h2 class="govuk-heading-m">Support organisations</h2>


    <p>The following organisations give support and advice:</p>
    <ul class="govuk-list govuk-list--bullet">
      
  <li><a href="www.nhs.uk/mental-health/social-care-and-your-rights/how-to-access-mental-health-services/">NHS How to access mental health services</a></li>
<li><a href="www.arc-uk.org">Antenatal Results and Choices (ARC)</a></li>
<li><a href="www.daddyswithangels.org">Daddy’s with Angels</a></li>
<li><a href="www.petalscharity.org ">Petals</a></li>
    <li><a href=“https://www.sands.org.uk/”>Sands</a></li>
<li><a href="www.sayinggoodbye.org">Saying Goodbye</a></li>
<li><a href="https://ectopic.org.uk/">The Ectopic Pregnancy Trust</a></li>
<li><a href="www.miscarriageassociation.org.uk">The Miscarriage Association</a></li>
   <li><a href=“www.tommys.org”>Tommy's</a></li>
   <li><a href=“https://twinstrust.org/”>Twins Trust</a></li>
</ul>




  </div>
    </form>
  </div>
</div>

</div>

{% endblock %}