{% extends "layouts/main.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-width-container app-width-container">
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        Beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  {% endblock %}

  {% block content %}
  <div class="govuk-form-group">
    <div class="govuk-grid-column-two-thirds">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Blank sample certificate
          </h1>
        </legend>
       
        
        <img src="/public/images/blank-cert-copy.jpg" alt="User icon" style="height: 800px;">
      </div>
      <div class="govuk-grid-column-one-third">

        <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
          
          <nav role="navigation" aria-labelledby="subsection-title">
            
          </legend>
              </aside>
      
                <div class="govuk-body">
                  The baby loss certificate is an official document issued on behalf of the Secretary of State for Health and Social Care. It will be printed on watermarked paper.

<br><br>                  The wording on the certificate is as follows:<br><br>Certificate of baby loss under 24 weeks gestation. <br><br>Issued on behalf of the Secretary of State for Health and Social Care.<br> <br><ul class="govuk-list govuk-list--number">
                  <li>Certificate reference</li>
                  <li>Date of issue</li>
                  <li>Name and surname of parent</li>
                  <li>Name and surname of any other parent</li>
                  <li>Name of baby (optional)</li>
                  <li>Sex (if known)</li>
                  <li>Date of loss (if known)</li>
                  <li>Place of loss (if known)</li>
                  </ul>
                  Information: This certificate is produced following a self-declaration by the parent. <br><br>
                  This certificate cannot be used as evidence of identity and does not allow any entitlement to any services or benefits.   </div>
              </details>
              
                           </div>
           </div>
          </nav>
        </aside>
    
      </div>
        </div>
       
       
   
  </div>
</div>
</form>
</fieldset>
{% endblock %}