{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-width-container app-width-container">
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-form-group">
  <div class="govuk-grid-column-two-thirds">
<div class="govuk-form-group">

  <fieldset class="govuk-fieldset">
    <div class="flash-card">
      <h1 class="govuk-heading-l">What happens next</h1>

      <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
              
             
              <p class="govuk-body">Your request may take up to 21 days if you add the other parent's name to the certificate. This is because the other parent will have up to 7 days to give permission before the request is complete.</p>
              <h2 class="govuk-heading-m">Choosing to add the other parent</h2>
              <div class="govuk-inset-text">
                You'll need to contact the other parent to let them know that you'd like to add their name to the certificate.
              </div>
              <p class="govuk-body">We’ll ask you for the other parent’s date of birth. This is because we need to match their details with their GP record, if they give permission for their name to be on the certificate.</p>
              <p class="govuk-body">If the date of birth you enter for the other parent does not match the date they enter, your request for a certificate will be cancelled.</p>
             
              <p class="govuk-body">We’ll send a link to the other parent by email.</p>
              <p class="govuk-body">We’ll ask them to:</p>
              <ul class="govuk-body">
                <li>give permission to be named on the certificate</li>
                <li>confirm their details</li>
              </ul>
             
              <p class="govuk-body">If the other parent chooses not to be named on the certificate, your request will be cancelled. You'll be able to start again and request a certificate that shows only your name as a parent of your baby. </p>
              
 


              

           
          </div>
      </div>

      

  <form action="/beta/v9-3/parent-contact" method="POST" autocomplete="off" novalidate="true" spellcheck="false">
          




  


    <button class="govuk-button" data-module="govuk-button">
      Continue
    </button>

      
          <input type="hidden" name="x-csrf-token" value="vbr9Qsf6-eNz43wzZuHuwHpuCn6JK618lKK0">
  </form>
          </fieldset>
        </div>
      </form>
      </div>
      </div>
     
     
    

      
</div>
</div>
    </div>
  </div>
  <style>
  .govuk-button {
    margin-left: 10px;
    background-color: white;
    color: #1d70b8;
  }
  .govuk-heading-l {
    color: white;
  }
  .govuk-heading-m {
    color: white;
  }
.govuk-list {
  color: white;
}
.govuk-body {
  color: white;
}
.govuk-inset-text {
  color: white;
  border-left: 10px solid #ffffff;
}

  
  </style>

{% endblock %}
