{% extends "layouts/main-beta.html" %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '1' %}

{% set heading = "Get your security code" %}

{% block pageTitle %}
  {{ heading }} – {{ serviceName }} – NHSBSA
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="get-security-code-post" method="post">

      {% include 'beta/v11/includes/step.html' %}

      {% call govukFieldset({
        legend: {
          text: heading,
          classes: "govuk-fieldset__legend--l",
          isPageHeading: true
        }
      }) %}

      <p>With the details you gave us, we think we've found your contact details from your health records.</p>
      <p>We now need to send you a security code. After 30 minutes your security code will not work.</p>

      {{ govukRadios({
        name: "otp-delivery",
        items: [
          {
            value: "email",
            text: "By email to Sa********@gmail.com",
            checked: checked("otp-delivery", "email")
          },
          {
            value: "sms",
            text: "By text to ********009",
            checked: checked("otp-delivery", "sms")
          }
        ]
      }) }}

      {% endcall %}


      {{ govukDetails({
        summaryText: "What to do if you think these contact details are wrong",
        text: "If these contact details are wrong contact your GP practice."
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
</div>
{% endblock %}

{% block footer %}
  {% include 'beta/v10-copy/includes/footer.html' %}
{% endblock %}