{% extends "layouts/main-beta.html" %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '' %}

{% set heading = "We cannot find your contact details" %}

{% block pageTitle %}
  {{ heading }} – {{ serviceName }} – NHSBSA
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">{{ heading }}</h1>
        
    <p>We need to send you a one-time code but we cannot find your email address or mobile number.</p>
    <p>If your contact details have changed, you can ask your GP surgery to update your email address or mobile number.</p>
    <p>You can <a href="">add or correct the contact details on your NHS record</a>.</p>

  </div>
</div>
{% endblock %}

{% block footer %}
  {% include 'beta/v11/includes/footer.html' %}
{% endblock %}