{% extends "layouts/main-beta.html" %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '1' %}

{% set heading = "Enter your security code" %}

{% block pageTitle %}
  {{ heading }} – {{ serviceName }} – NHSBSA
{% endblock %}

{% if data['otp-delivery'] === 'sms' %}
  {% set hintText = "<p>We sent your security code by text to " + data['mobileNumObf'] + "</p>" %}
{% else %}
  {% set hintText = "<p>We sent your security code by email to " + data['emailAddressObf'] + "</p><p class=\"govuk-hint\">If you do not receive the email within a few minutes, check your spam or junk mail folder.</p>" %}
{% endif %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "get-security-code"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="confirm-postal-address" method="post">

      {% include 'beta/v11/includes/step.html' %}

      {{ govukInput({
        id: "entercode",
        name: "entercode",
        classes: "govuk-input--width-4 govuk-input--extra-letter-spacing",
        autocomplete: "one-time-code",
        type: "text",
        inputmode: "numeric",
        label: {
          text: heading,
          classes: "govuk-label--l",
          isPageHeading: true
        },
        spellcheck: false,
        hint: {
          html: hintText
        }
      }) }}

      <p>Didn't get your security code? <a href="new-code-sent">Resend code</a></p>

      {{ govukButton({
        text: "Continue"
      }) }}

      {% if data['devMode'] === 'true' %}
      {# DEVMODE SCENARIOS #}
      <br>
      <details class="govuk-details dev-mode govuk-!-margin-bottom-5" role="group">
        <summary class="govuk--details__summary" role="button" aria-controls="details-content-0" aria-expanded="true">
        <span class="govuk--details__summary-text">
          Continue with testing scenario
        </span>
        </summary>
        <div class="govuk-details__text">
          <h4>Service Errors</h4>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="cannot-request-another-code">Too many (>3) OTPs requested</a>
            </li>
            <li>
              <a href="cannot-find-address">No valid address details on record</a>
            </li>
          </ul>
        </div>
      </details>
      {% endif %}

    </form>
  </div>
</div>

{% endblock %}

{% block footer %}
  {% include 'beta/v11/includes/footer.html' %}
{% endblock %}