{% extends "layouts/main-beta.html" %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '2' %}

{% set heading = "Would you like the place of your baby loss on the certificate?" %}

{% block pageTitle %}
  {{ heading }} – {{ serviceName }} – NHSBSA
{% endblock %}

{% if 'Date of loss' in data['baby-details'] %}
  {% set backLink = 'date-of-loss' %}
{% else %}
  {% set backLink = 'babys-details-steps' %}
{% endif %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="place-of-loss-post" method="post">

      {% include 'beta/v11/includes/step.html' %}

      {{ govukInput({
        id: "place-of-loss",
        name: "place-of-loss",
        classes: "govuk-input--width-20",
        value: data['place-of-loss'],
        label: {
          text: "Place of your baby loss",
          classes: "govuk-label--l",
          isPageHeading: true
        },
        hint: {
          text: "For example, Canterbury, Kent"
        }
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}

{% block footer %}
  {% include 'beta/v11/includes/footer.html' %}
{% endblock %}