{% extends "layouts/main-ccs.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-width-container app-width-container">
 
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-form-group">
  <div class="govuk-grid-column-two-thirds">
  <span class="govuk-caption-l">Details on the certificate</span>
  <fieldset class="govuk-fieldset">
<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
  <h1 class="govuk-fieldset__heading">
    Would you like to add another parent to the certificate? 
    
  </h1>
</legend>


      <form class="form" action="version10-add-parent" method="post">
      
       
        <div class="govuk-radios govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="version10-add-parent" name="parent" type="radio" value="yes" data-aria-controls="conditional-contact">
            <label class="govuk-label govuk-radios__label" for="yes">
              Yes, I'd like to add another parent to the certificate
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">

              <label class="govuk-label" for="contact-by-email">
                You’ll need to let the other parent know that you’d like to add their name to the certificate.<br>
               <br> We’ll ask you for the other parent’s email address so we can send them a link. They’ll have up to 7 days to:<br>
                <br><ul class="govuk-list govuk-list--bullet">
                  <li>confirm their details, including their date of birth</li>
                  <li>give their permission to have their name on the certificate</li>
              
                </ul>

              </label>
              
            </div>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="version10-add-parent" name="parent" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="no">
              No, I do not want to add another parent
            </label>
          </div>
        </div>
          </fieldset>
        </div>
        
        <button class="govuk-button" data-module="govuk-button" type="submit">
          Continue
        </button>

      </form>
</div>
</div>
    </div>
  </div>
  <style>
    
    .govuk-radios {
      margin-bottom: 20px;
    }
  </style>

{% endblock %}
