{% extends "layouts/main-ccs.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-width-container app-width-container">
 
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-form-group">
  <div class="govuk-grid-column-two-thirds">

  <span class="govuk-caption-l">Your details</span>
  <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          What is your postcode?
        </h1>
      </legend>
      <p>You must enter the home postcode you registered with your GP surgery.</p>
      <p>This is the address your certificate will be sent to.</p>
     
     
   
     
      
      <div id="passport-issued-hint" class="govuk-hint">
        For example, EN1 1BE
      </div>
      <form class="form" action="Multipleloss-add-ress" method="post">
        
      
      <div class="govuk-form-group">
        <label class="govuk-label" for="Multipleloss-add-ress">
          Postcode
        </label>
        <input class="govuk-input govuk-input--width-10" id="Multipleloss-add-ress" name="multiplepost" type="text" autocomplete="postal-code">
      </div>
      
   
      
   
  </div>
</div>
</div>
  <button class="govuk-button" data-module="govuk-button" type="submit">
    Continue
  </button>
</fieldset>
    </div>
  </div>

</form>
<style>
  .govuk-input {
    margin-bottom: 15px;
  }
  .govuk-button {
    margin-left: 10px;
  }
</style>
{% endblock %}
