{% extends "layouts/main-backoffice.html" %}

{% set feedbackType = 'step' %}
{% set section = '' %}

{% set heading = "What is your reference number?" %}

{% block pageTitle %}
  {{ heading }} – {{ serviceName }} – NHSBSA
{% endblock %}
{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block content %}
<div class="govuk-form-group">
  <div class="govuk-grid-column-two-thirds">
<div class="govuk-form-group">
  <span class="govuk-caption-l">Details on the certificate</span>
  <fieldset class="govuk-fieldset">
<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
  <h1 class="govuk-fieldset__heading">
    Would you like to add another parent to the certificate? 
    
  </h1>
</legend>
<div class="govuk-body">You’ll need to let the other parent know that you’d like to add their name to the certificate. </div>
<div class="govuk-body">The section for the other parent's name will be blank on the certificate if you select 'No'.</div>

      <form class="form" action="backofficeparent-add" method="post">
      
       
        <div class="govuk-radios govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="backofficeparent-add" name="otherparent" type="radio" value="yes" aria-controls="conditional-contact" >
            <label class="govuk-label govuk-radios__label" for="yes">
              Yes, I'd like to add another parent to the certificate
            </label>
            <div class="govuk-radios__conditional" id="conditional-contact">

              <label class="govuk-label" for="contact-by-email">
                
                We’ll ask you for the other parent’s email address so we can send them a link. They’ll have up to 7 days to:<br>
                <br><ul class="govuk-list govuk-list--bullet">
                  <li>confirm their details, including their date of birth</li>
                  <li>give their permission to be named on the certificate</li>
                </ul>
                <p>You'll need to <a href="/Beta/v12/contact">contact us</a> if the other parent does not have an email address or has died.</p>
              </label>
            </div>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="backofficeparent-add" name="otherparent" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="no">
              No, I do not want to add another parent
            </label>
          </div>
        </div>
          </fieldset>
        </div>
        
        <button class="govuk-button" data-module="govuk-button" type="submit">
          Continue
        </button>

      </form>
</div>
</div>
    </div>
  </div>
  <style>
    
    .govuk-radios {
      margin-bottom: 20px;
    }
  </style>

{% endblock %}
