{% extends "layouts/main-backoffice.html" %}

{% set feedbackType = 'step' %}
{% set section = '' %}

{% set heading = "What is your reference number?" %}

{% block pageTitle %}
  {{ heading }} – {{ serviceName }} – NHSBSA
{% endblock %}
{% block header %}
  {% include 'back-office/includes/header' %}
{% endblock %}
{% block beforeContent %}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">

          <div class="govuk-grid-column-two-thirds">



  <div class="govuk-panel govuk-panel--confirmation">
<h1 class="govuk-panel__title">
  Request complete
</h1>

<div class="govuk-panel__body">
  Your application number</br><strong>K7KJ9-RH0A7-Z7IEO</strong>
</div>

</div>




<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Certificate reference number
     <dt>
    <dd class="govuk-summary-list__value govuk-!-text-align-right">
     836-D8A-A5C3E
    </dd>
  </div>
</dl>


<h2 class="govuk-heading-s">Support organisations</h2>

<p class="govuk-body">The following organisations give support and advice:</p>



<p class="govuk-body"></p>

<ul class="govuk-list govuk-list--bullet">


  <li><a class="govuk-link govuk-link--no-visited-state" href=https://www.nhs.uk/mental-health/social-care-and-your-rights/how-to-access-mental-health-services/>NHS - How to access mental health services</a></li>

  <li><a class="govuk-link govuk-link--no-visited-state" href=https://www.arc-uk.org/>Antenatal Results and Choices (ARC)</a></li>

  <li><a class="govuk-link govuk-link--no-visited-state" href=https://www.daddyswithangels.org/>Daddys with Angels</a></li>

  <li><a class="govuk-link govuk-link--no-visited-state" href=https://petalscharity.org/>Petals</a></li>

  <li><a class="govuk-link govuk-link--no-visited-state" href=https://www.sands.org.uk/>Sands</a></li>

  <li><a class="govuk-link govuk-link--no-visited-state" href=https://www.sayinggoodbye.org/>Saying Goodbye</a></li>

  <li><a class="govuk-link govuk-link--no-visited-state" href=https://ectopic.org.uk/>The Ectopic Pregnancy Trust</a></li>

  <li><a class="govuk-link govuk-link--no-visited-state" href=https://www.miscarriageassociation.org.uk/>The Miscarriage Association</a></li>

  <li><a class="govuk-link govuk-link--no-visited-state" href=https://www.tommys.org/>Tommy&#39;s</a></li>

  <li><a class="govuk-link govuk-link--no-visited-state" href=https://twinstrust.org/>Twins Trust</a></li>


</ul>



<p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="https://online1.snapsurveys.com/interview/91fe32f9-58fc-46f3-8a40-d64995ffae88" target="_blank">What did you think of this service?</a> (takes 30 seconds)</p>

<h2 class="govuk-heading-s">Contact the Baby Loss Certificate Service</h2>

<div class="govuk-inset-text">
<ul class="govuk-list">
  <li>Email: <a class="govuk-link" href="mailto:babylosscertificate@nhsbsa.nhs.uk">babylosscertificate@nhsbsa.nhs.uk</a></li>
  <li>Telephone: 0300 330 9445</li>
  <li>Monday to Friday, 9am to 5pm</li>
</ul>
<ul class="govuk-list">
  <li><a href="https://www.nhsbsa.nhs.uk/contact-us/call-charges-and-phone-numbers" class="govuk-link" target="_blank">Find out about call charges</a></li>
</ul>
</div>


          </div>


        </div>

{% endblock %}
