{% extends "layouts/main-backoffice.html" %}

{% set feedbackType = 'step' %}
{% set section = '' %}

{% set heading = "What is your reference number?" %}

{% block pageTitle %}
  {{ heading }} – {{ serviceName }} – NHSBSA
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "start-page"
  }) }}
{% endblock %}



{% block content %}
<div class="govuk-form-group">
  <div class="govuk-grid-column-two-thirds">

  <span class="govuk-caption-l">Your details</span>
  <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          What is your postcode?
        </h1>
      </legend>
      <p>You must enter the home postcode you registered with your GP surgery.</p>
      <p>This is the address your certificate will be sent to.</p>
     
     
   
     
      
      <div id="passport-issued-hint" class="govuk-hint">
        For example, EN1 1BE
      </div>
      <form class="form" action="address-postcode" method="post">
        
      
      <div class="govuk-form-group">
        <label class="govuk-label" for="address-postcode">
          Postcode
        </label>
        <input class="govuk-input govuk-input--width-10" id="address-postcode" name="postcodeinput" type="text" autocomplete="postal-code">
      </div>
      
   
      
   
  </div>
</div>
</div>
  <button class="govuk-button" data-module="govuk-button" type="submit">
    Continue
  </button>
</fieldset>
    </div>
  </div>

</form>
<style>
  .govuk-input {
    margin-bottom: 15px;
  }
  .govuk-button {
    margin-left: 10px;
  }
</style>
{% endblock %}
