{% extends "layouts/main-backoffice.html" %}

{% set feedbackType = 'step' %}
{% set section = '' %}

{% set heading = "What is your reference number?" %}

{% block pageTitle %}
  {{ heading }} – {{ serviceName }} – NHSBSA
{% endblock %}

{% block header %}
  {% include 'back-office/includes/header' %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "start-page"
  }) }}
{% endblock %}



{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <span class="govuk-caption-l">Your details</span>
  <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          What is your alternative postcode?
        </h1>
      </legend>

      <form class="form" action="address-postcode" method="post">


      <div class="govuk-form-group">
        <label class="govuk-label" for="postcode-ccs">
    Enter postcode
  </label>



  <div id="postcode-ccs-hint" class="govuk-hint">
    For example, EN1 1BE
  </div>
        <input class="govuk-input govuk-input--width-10" id="address-postcode" name="postcodeinput" type="text" autocomplete="postal-code">
      </div>



   <div class="govuk-body"><a href="what-is-your-address">Enter address manually</a></div>
  </div>


{{ govukButton({
  text: "Continue",
  href: "address-list",
  isStartButton: false
  }) }}

</fieldset>
    </div>
  </div>

</form>
<style>
  .govuk-input {
    margin-bottom: 15px;
  }
</style>
{% endblock %}
