{% extends "layouts/main-backoffice.html" %}

{% set feedbackType = 'step' %}
{% set section = '' %}

{% set heading = "What is your reference number?" %}

{% block pageTitle %}
  {{ heading }} – {{ serviceName }} – NHSBSA
{% endblock %}
{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block content %}
<div class="govuk-form-group">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-form-group">
  <span class="govuk-caption-l">Your details</span>
  <fieldset class="govuk-fieldset">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            What is your date of birth?
          </h1>
        </legend>
        <form class="form" action="backoffice-date-ofbirth" method="post">
        <div id="dob-enter" class="govuk-hint">
          For example, 27 3 2007
        </div>
        
          <div class="govuk-date-input" id="backoffice-date-ofbirth">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="backoffice-date-ofbirth">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="backoffice-date-ofbirth" name="dob-day" type="text" inputmode="numeric">
              </div>
            </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="backoffice-date-ofbirth">
                Month
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="backoffice-date-ofbirth" name="dob-month" type="text" inputmode="numeric">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="backoffice-date-ofbirth">
                Year
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="backoffice-date-ofbirth" name="dob-year" type="text" inputmode="numeric"> 1998
            </div>
          </div>
        </div>
      </fieldset>
    


        <button class="govuk-button" data-module="govuk-button" type="submit">
          Continue
        </button>

      </form>
</div>
    </div>
</div>
</div>

  <style>
  
   
    .govuk-button{
      margin-top: 30px;
    }
   
    
    
  </style>

{% endblock %}
