{% extends "layouts/main.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit

{% endblock %}

{% block beforeContent %}
<div class="govuk-width-container app-width-container">
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        Beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
  }) }}
  {% endblock %}

  {% block content %}
  <div class="govuk-form-group">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">
        
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Is this name correct?

            </h1>
          </legend>


          <div id="passport-issued-hint" class="govuk-hint">
            This is the name that will be printed on the certificate.
          </div>

          <form class="form" action="parent-name" method="post">
            <div class="govuk-inset-text">
             George Clooney
            </div>
            
            
      </div>

      <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="check-details-yes" name="details" type="radio" value="yes">
          <label class="govuk-label govuk-radios__label" for="changed-name">
            Yes
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="check-details-no" name="details" type="radio" value="no">
          <label class="govuk-label govuk-radios__label" for="changed-name-2">
            No
          </label>
        </div>
      </div>
    </div>
  </div>


  {{ govukButton({
    text: "Continue",
    href: "nhs-number",
    isStartButton: false
    }) }}
  </form>
</div>
</div>
</div>
<style>
  .govuk-radios {
    margin-bottom: 30px;
  }

  .govuk-details {
    margin-top: 30px;
  }

  .govuk-button {
    margin-left: 15px;
  }
</style>

{% endblock %}