{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
 
{% endblock %}

{% block content %}


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <h1 class="govuk-heading-l">Check your details</h1>
       
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Do you know your NHS number
            </dt>
            <dd class="govuk-summary-list__value">
             
                {% if data['parent1-firstname'] %}
                {{ data['parent1-firstname'] }} {{ data['parent1-lastname'] }}
                {% else %}
               No
                {% endif %}
           
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Name
            </dt>
            <dd class="govuk-summary-list__value">
             
                {% if data['parent1-firstname'] %}
                {{ data['parent1-firstname'] }} {{ data['parent1-lastname'] }}
                {% else %}
                Example name
                {% endif %}
           
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
                  {% if data['dob-day'] %}
                    {{ data['dob-day'] }} <span class="cya-month">{{ data['dob-month'] }}</span> {{ data['dob-year'] }}
                    {% else %}
                  Example date of birth
                  {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Postcode
            </dt>
            <dd class="govuk-summary-list__value">
              NE1 3JA
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          
          </dl>
        
          
          
          
        </dl>
        <p>By continuing you agree to let us use your details to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>check who you are</li>
          <li>find your contact details from your NHS health records so we can send you a security code</li>
         
          
        </ul>
        
       
        <form action="/live-parent2/get-security-code" method="post" novalidate>
          <input type="hidden" name="answers-checked" value="true">
          {{ govukButton({
            text: "Agree and continue",
            href: "get-security-code",
            isStartButton: false
            }) }}
        </form>
      </div>
    </div>
  </main>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
        $(document).ready(function() {
            const months = {
                "01": "January",
                "02": "February",
                "03": "March",
                "04": "April",
                "05": "May",
                "06": "June",
                "07": "July",
                "08": "August",
                "09": "September",
                "10": "October",
                "11": "November",
                "12": "December",
                "1": "January",
                "2": "February",
                "3": "March",
                "4": "April",
                "5": "May",
                "6": "June",
                "7": "July",
                "8": "August",
                "9": "September",   

            };

 

            $(".cya-month").text(function () {
                const month = $(this).text();
                console.log("month:", month);
                console.log("months[month]:", months[month]);
                return months[month];
            });
        });
</script>
{% endblock %}
