{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirmation page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "Request complete",
        html: "Your reference number<br><strong>J4R-8H5-2K9F1</strong>"
      }) }}

   

      <h2 class="govuk-heading-m">
        What happens next
      </h2>
      <p>We'll tell the main applicant that you've given permission for your name to be added to the certificate. 
      </p>
      <p>The certificate will be posted to the main applicant within 14 days.</p>
      <p>If you would like your own certificate, you can <a href="">request one</a>.</p>
      <h3 class="govuk-heading-m">Support organisations</h3>
      <p>The following organisations give support and advice:</p>
      <ul class="govuk-list govuk-list--bullet">
           <li><a href="www.nhs.uk/mental-health/social-care-and-your-rights/how-to-access-mental-health-services/">NHS How to access mental health services</a></li>
         <li><a href=“https://www.sands.org.uk/”>Sands</a></li>
        <li><a href=“www.tommys.org”>Tommy's</a></li>
        <li><a href="www.arc-uk.org">Antenatal Results and Choices (ARC)</a></li>
        <li><a href="www.sayinggoodbye.org">Saying Goodbye</a></li>
        <li><a href="www.miscarriageassociation.org.uk">The Miscarriage Association</a></li>
        <li><a href="www.petalscharity.org ">Petals</a></li>
        <li><a href="www.daddyswithangels.org">Daddy’s with Angels</a></li>

        <li><a href="">Daddy's with angels</a></li>
      </ul>
      

<p>
        <a href="#">
          What did you think of this service?
        </a> (takes 30 seconds)
      </p>


    </div>
  </div>

{% endblock %}
