{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
  <h1 class="govuk-fieldset__heading">
    What is your name?
    
  </h1>
</legend>

      <form class="form" action="/v1/add-parent" method="post">
        
         
        <div class="govuk-form-group">
          <label class="govuk-label" for="three-quarters">
            Full name
          </label>
          <input class="govuk-input govuk-!-width-three-quarters" id="three-quarters" name="three-quarters" type="text">
        </div>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>

    </div>
  </div>

{% endblock %}
