{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
  
{% endblock %}

{% block beforeContent %}
<div class="govuk-width-container app-width-container">
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
  <h1 class="govuk-fieldset__heading">
    What is your name?
    
  </h1>
</legend>
<div id="passport-issued-hint" class="govuk-hint">
  You must enter the names you registered with your GP surgery.
</div>
<div id="passport-issued-hint" class="govuk-hint">
  This is the name that will be printed on the certificate
</div>

      <form class="form" action="add-parent" method="post">
        
        <div class="govuk-form-group">
          <label class="govuk-label" for="one-third">
            First name
          </label>
          <input class="govuk-input govuk-!-width-one-third" id="one-third" name="one-third" type="text">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="one-third">
            Last name
          </label>
          <input class="govuk-input govuk-!-width-one-third" id="one-third" name="one-third" type="text">
        </div>
        
      </div>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>

    </div>
  </div>
  <style>
    .govuk-fieldset__heading {
      margin-bottom: 30px;
    }
    
  </style>

{% endblock %}
