{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Private Beta (September 2023)
    </h1>

    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">

      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-11">
            Version 11
            </span>
          </h2>
        </div>
        <div aria-labelledby="accordion-default-heading-11" class="govuk-accordion__section-content" id="accordion-default-content-11">
          <a class="govuk-button" href="beta/v11/start-page">Parent 1 Start</a>
          <a class="govuk-button govuk-button--secondary" href="beta/v11/start-page?devMode=true">+ Dev mode </a>
          <a class="govuk-button govuk-button--secondary" href="beta/v11/start-page?ur=P1">UR Participant 1 </a>
          <a class="govuk-button govuk-button--secondary" href="beta/v11/start-page?use-steps=false">Baby details as single page </a>
          <a class="govuk-button govuk-button--secondary" href="beta/v11/start-page?use-steps=true">Baby details as steps </a>
          <br>
          <a class="govuk-button" href="beta/v11/parent2/start-page">Parent 2 Start</a>
          <a class="govuk-button govuk-button--secondary" href="beta/v11/parent2/start-page?devMode=true">+ Dev mode</a>
        </div>
      </div>

      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-10">
            Version 10
            </span>
          </h2>
        </div>
        <div aria-labelledby="accordion-default-heading-10" class="govuk-accordion__section-content" id="accordion-default-content-10">
          <a class="govuk-button" href="beta/v10/start-page">Parent 1 Start</a>
          <br>
          <a class="govuk-button" href="beta/v10/v10-1/start-page">Parent 2 Start</a>
        </div>
      </div>

      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-9">
            Version 9 with second parent IDV
            </span>
          </h2>
        </div>
        <div aria-labelledby="accordion-default-heading-9" class="govuk-accordion__section-content" id="accordion-default-content-9">
          <p class='govuk-body'>Use NE1 3JA to get throught the IDV route</p>
          <p class='govuk-body'>Use date 27/3/2007 for date of birth, any other dates will guide you to the kickout screen</p>
          <a class="govuk-button" href="beta/v9/start-page">V9 Start (with IDV for second parent) option 1</a>
          <a class="govuk-button" href="beta/v9-2/start-page">V9 Start (with IDV for second parent) option 2</a>
          <a class="govuk-button" href="beta/v9-3/start-page">V9 Start (with IDV for second parent) option 3</a>
          <a class="govuk-button" href="beta/v9/v9-1/start-page">Second parent IDV journey</a>
        </div>
      </div>


      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
        Version 8 with second parent IDV
        </span>
          </h2>
        </div>
        <div aria-labelledby="accordion-default-heading-1" class="govuk-accordion__section-content" id="accordion-default-content-1">

          <p class='govuk-body'>Use NE1 3JA to get throught the IDV route</p>
          <p class='govuk-body'>Use date 27/3/2007 for date of birth, any other dates will guide you to the kickout
            screen</p>

          <a class="govuk-button" href="beta/v8/start-page">V8 Start (with IDV for second parent)</a>
          <a class="govuk-button" href="beta/v8/v8-1/start-page">Second parent IDV journey</a>
          <br>
          <a class="govuk-button" href="beta/no-second-parent/start-page">No second parent journey</a>


        </div>
        </details>


      </div>


      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
      <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
      Version 7 with second parent IDV
      </span>
          </h2>
        </div>
        <div aria-labelledby="accordion-default-heading-1" class="govuk-accordion__section-content" id="accordion-default-content-1">

          <p class='govuk-body'>Use NE1 3JA to get throught the IDV route</p>
          <p class='govuk-body'>Use date 27/3/2007 for date of birth, any other dates will guide you to the kickout
            screen</p>

          <a class="govuk-button" href="beta/v7/start-page">V7 Start (with IDV for second parent)</a>
          <a class="govuk-button" href="beta/v7/v7-1/start-page">Second parent IDV journey</a>
          <a class="govuk-button" href="beta/v7-4/start-page">Back office journey</a>

        </div>
        </details>


      </div>


      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Second parent IDV
            </span>
          </h2>
        </div>

        <div aria-labelledby="accordion-default-heading-1" class="govuk-accordion__section-content" id="accordion-default-content-1">
          <p class='govuk-body'>Miro board:
            <a href="beta/scenarios">Second parent identity verification options Miro</a>
            .
          </p>
          <h2 class="govuk-heading-m">
            Scenario 1
          </h2>
          <p class='govuk-body'>Main applicant does their own and second parents ID Verification, where a OTP is sent to second parent to
            verify their details, implied consent given. (Both parents need to be together or on the phone (or other) to complete the single synchronous journey.)
          </p>
          <p class='govuk-body'>Use date 27/3/2007 for date of birth, any other dates will guide you to the kickout
            screen</p>
          <a class="govuk-button" href="beta/s1/start-page">Scenario 1 start</a>
          <h2 class="govuk-heading-m">
            Scenario 2
          </h2>
          <p class='govuk-body'>Main applicant does their own ID verification and NOT do second parents ID Verification. Second parent completes a prompted journey where they verify who they are, ultimately giving consent. This is an asynchronous journey! (2nd parent gets a notification via email or SMS that contains a link to start the journey.)</p>
          <p class='govuk-body'>Use date 27/3/2007 for date of birth, any other dates will guide you to the kickout
            screen</p>
          <h2 class="govuk-heading-m">
            Scenario 3
          </h2>
          <p class='govuk-body'>Main applicant provides second parent with a reference code to enter into second parent start page. The second parent completes the journey, proving their identity and gives explicit consent.
            (The first parent receives a journey/reference code/identifier. They give that to the second parent to complete the consent journey via a new start page. This journey will validate the user’s name.) This is an asynchronous journey!</p>
          <p class='govuk-body'>Use date 27/3/2007 for date of birth, any other dates will guide you to the kickout
            screen</p>
          <a class="govuk-button" href="beta/s2/start-page">Scenario 2 & 3 start</a>
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                second parent screens
              </span>
            </summary>
            <div class="govuk-details__text">
              <p>
                <a href="beta/s1/information-page">Static screen</a>
              </p>
              <p>
                <a href="beta/s1/spike-screen">spike screen</a>
              </p>
            </div>
          </details>


        </div>
      </div>


      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
              Version 6 CCS & back office journeys
            </span>
          </h2>
        </div>
        <div aria-labelledby="accordion-default-heading-2" class="govuk-accordion__section-content" id="accordion-default-content-2">
          <p class='govuk-body'>Use NE1 3JA to get throught the IDV route</p>
          <p class='govuk-body'>Use date 27/3/2007 for date of birth, any other dates will guide you to the kickout
            screen</p>
          <p class='govuk-body'>Miro board:
            <a href="beta/version6">Version 6 Miro board</a>
            .
          </p>

          <a class="govuk-button" href="beta/v6/start-page">V6 Start (with IDV)</a>
          <a class="govuk-button" href="beta/v6-2/start-page">CCS journey</a>
          <a class="govuk-button" href="beta/v6-4/start-page">Back office journey</a>
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Error screens
                  </span>
            </summary>
            <div class="govuk-details__text">
              <p>
                <a href="beta/v6/problem-with-service">Problem with the service screen</a>
              </p>
              <p>
                <a href="beta/v6/cannot-request-code">Cannot request another access code screen</a>
              </p>
              <p>
                <a href="beta/v6/cannot-find-contact-details">Cannot find phone or email screen</a>
              </p>
              <p>
                <a href="beta/v6/cannot-find-address">Cannot find address screen</a>
              </p>
              <p>
                <a href="beta/v6/start-again">Start again</a>
              </p>
              <p>
                <a href="beta/v6/cannot-request-another-code">Cannot request another code screen</a>
              </p>
              <p>
                <a href="beta/v6/new-code-sent">Your new code has been sent screen</a>
              </p>
              <p>
                <a href="beta/v6/cannot-find-details-request">Cannot find details screen</a>
              </p>
              <p>
                <a href="beta/v6/cannot-request-try-again">Cannot request try again</a>
              </p>
            </div>
          </details>


        </div>
      </div>
    </div>

  </div>


  {% endblock %}