{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-thirds">
    <h1 class="govuk-heading-l">
      Private Beta (September 2023)
    </h1>
    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Important 
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <div class="govuk-heading-m">Use these details to get through both parent journeys</div>
        <p>Postcode: NE1 3JA<br>
          Date of birth: 27/3/2007<br>
        Other parent reference number for non recurrent loss: 123<br>
      Other parent reference number for reccurrent loss: 4321</p>
      
      </div>
    </div>
   
  
    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">

      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-10">
              Version 15 (Multiple loss twins and triplets)
            </span>
          </h2>
      </div>
      
          <div aria-labelledby="accordion-default-heading-10" class="govuk-accordion__section-content" id="accordion-default-content-10">
            
            <a class="govuk-button" href="beta/v15/start-page">Main parent/applicant start</a>
            <br>
         
          
            <a class="govuk-button" href="beta/v15/v15-1/start-page">Other parent start</a>
            <div class="govuk-heading-m">What we created</div>
            <div class="govuk-body">We created a journey that reflects the twin and triplet baby loss, by allowing these users to request two or more certificates in one application without reaching the end of the journey</div>

            <ul class="govuk-list govuk-list--bullet">
              <li>Added content on the start page</li>
              <li>Added new screen <a rel="external" href="https://pregnancy-loss-certificate.herokuapp.com/beta/v15/babies-lost">Did you have a single, twin or triplet pregnancy?</a></li>
              <li>Added new screen <a rel="external" href="https://pregnancy-loss-certificate.herokuapp.com/beta/v15/twin-loss-2">Are you requesting certificates for both babies from your twin pregnancy?</a></li>
              <li>Added new screen <a rel="external" href="https://pregnancy-loss-certificate.herokuapp.com/beta/v15/triplet-loss-2">Are you requesting a certificate for each triplet?</a></li>
              <li>Added application number as well as certificate reference number on the confirmation page <a rel="external" href="https://pregnancy-loss-certificate.herokuapp.com/beta/v15/confirmation-page">Request pending</a></li>

              </a>
            </ul>
              <div class="govuk-heading-m">What we tested</div>
              <ul class="govuk-list govuk-list--bullet">
                <li>The content on the start page</li>
                <li>The content on the new twin and triplet loss screens</li>
                <li>The user journey</li>
              </ul>
          
          <div class="govuk-heading-m">What we found</div>
              <ul class="govuk-list govuk-list--bullet">
                <li>Users had a good understanding of the application number and certificate reference numbers.</li>
                <li>The question ‘Have you lost both babies from your twin pregnancy?’ was clear for most users.</li>
                
              </ul>
         
          <div class="govuk-heading-m">Any known issues?</div>
              <div class="govuk-body">Overall most users were happy with the journey, however most people we tested with would assume that both or more certificates would come in the same envelope, this is something we will keep an eye on from the survey to see if this would be a need. One user out of all that we tested still assumed the twin or triplet details would be on the same certificate, again the content states otherwise but this is something we plan on monitoring. One user struggled with the question "have you lost both babies from your twin pregnancy?" as the options did not reflect their experience.</li>
               
          </div>
        </div>

      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-10">
              Version 14 (Still send certififcate preference and historic loss removal)
            </span>
          </h2>
      </div>
     
          <div aria-labelledby="accordion-default-heading-10" class="govuk-accordion__section-content" id="accordion-default-content-10">
            <a class="govuk-button" href="beta/v14/start-page">Main parent/applicant start</a>
            <br>
            <a class="govuk-button" href="beta/v14/v14-1/start-page">Other parent start</a>
            <div class="govuk-heading-m">What we created</div>
            <div class="govuk-body">We created a journey that allows the main applicant to still receive a certificate in their name only or to be cancelled if the other parent cannot confirm or doesnt want to be on the certificate. We also removed the question </div>

            <ul class="govuk-list govuk-list--bullet">
     
              <li>Added new screen <a rel="external" href="https://pregnancy-loss-certificate.herokuapp.com/beta/v14/second-parent-question">Would you still like to receive the certificate if the other parent does not respond?</a></li>
              <li>Removal of screen <a rel="external" href="https://pregnancy-loss-certificate.herokuapp.com/beta/v13/loss-in-5-years">Did your baby loss happen on or after 1 September 2018?</a></li>
       
              </a>
            </ul>
              <div class="govuk-heading-m">What we tested</div>
              <ul class="govuk-list govuk-list--bullet">
                <li>The still send certificate option if the other parent doesn't reply, where in the journey would this screen fit best?</li>
          
                
              </ul>
          
          <div class="govuk-heading-m">What we found</div>
              <ul class="govuk-list govuk-list--bullet">
                <li>Users understood the purpose and wording of the “still send” question. When selecting ‘yes’, all expected to receive a certificate even if the other parent did not respond, and two expected an email confirmation.</li>
                <li>For the ‘no’ option, three participants believed the request would be cancelled if the other parent didn’t respond. Two others expected to receive a certificate with the other parent field removed, though they hadn’t selected ‘no’ and didn’t see the cancellation message.</li>
                <li>Most participants felt the question appeared at the right point in the user journey, though one preferred it earlier.</li>
                
              </ul>
         
          <div class="govuk-heading-m">Any known issues?</div>
              <div class="govuk-body">
                Overall most of the users understood the question and liked the placement of the question within the journey. However one user raised concerns that it was unclear what would appear on the certificate some expected it to be blank and others would assume it would be removed. With this in mind we added body text underneath the yes and no radios making them conditional to give clear instructions on what each option meant.
                </li>
               
          </div>
        </div>
         
           

          </div>
        </div>
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-10">
              Version 13 (Recurrent loss)
            </span>
          </h2>
      </div>
      

          <div aria-labelledby="accordion-default-heading-10" class="govuk-accordion__section-content" id="accordion-default-content-10">
            <a class="govuk-button" href="beta/v13/start-page">Parent 1 Start screen</a>
            <br>

            <a class="govuk-button" href="beta/v12/v12-2/start-page">Other parent start screen</a>
            <div class="govuk-heading-m">What we created</div>
            <div class="govuk-body">We created a journey that allows the main applicant to still receive a certificate in their name only or to be cancelled if the other parent cannot confirm or doesnt want to be on the certificate. We also removed the question </div>

            <ul class="govuk-list govuk-list--bullet">
     
              <li>Added new screen <a rel="external" href="https://pregnancy-loss-certificate.herokuapp.com/beta/v14/second-parent-question">Would you still like to receive the certificate if the other parent does not respond?</a></li>
              <li>Removal of screen <a rel="external" href="https://pregnancy-loss-certificate.herokuapp.com/beta/v13/loss-in-5-years">Did your baby loss happen on or after 1 September 2018?</a></li>
              <li>Updated the screen <a rel="external" href="https://pregnancy-loss-certificate.herokuapp.com/beta/v13/what-happens-next">What happens next</a></li>

              </a>
            </ul>
              <div class="govuk-heading-m">What we tested</div>
              <ul class="govuk-list govuk-list--bullet">
                <li>The still send certificate option if the other parent doesn't reply, where in the journey would this screen fit best?</li>
          
                
              </ul>
          
          <div class="govuk-heading-m">What we found</div>
              <ul class="govuk-list govuk-list--bullet">
                <li>Users understood the purpose and wording of the “still send” question. When selecting ‘yes’, all expected to receive a certificate even if the other parent did not respond, and two expected an email confirmation.</li>
                <li>For the ‘no’ option, three participants believed the request would be cancelled if the other parent didn’t respond. Two others expected to receive a certificate with the other parent field removed, though they hadn’t selected ‘no’ and didn’t see the cancellation message.</li>
                <li>Most participants felt the question appeared at the right point in the user journey, though one preferred it earlier.</li>
                
              </ul>
         
          <div class="govuk-heading-m">Any known issues?</div>
              <div class="govuk-body">
                Overall most of the users understood the question and liked the placement of the question within the journey. However one user raised concerns that it was unclear what would appear on the certificate some expected it to be blank and others would assume it would be removed. With this in mind we added body text underneath the yes and no radios making them conditional to give clear instructions on what each option meant.
                </li>
               
          </div>
            <div class="govuk-heading-m">Recurrent loss main parent journey</div>
            <div class="govuk-body">This journey is for users that have selected they want to request other certificates
              if they
              have had more than one loss, it will cut out
              the eligibility question "do you live in England?" as we already know this from their initial application.
              The
              applicant wont need to go through the identify verification process again.
            </div>
            <a class="govuk-button" href="beta/v12-5/enter-location">Recurrent loss</a>
          
           

          </div>
        </div>

      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-10">
              Version 12 (Recurrent and multiple loss) and sample certificate
            </span>
          </h2>
      </div>

          <div aria-labelledby="accordion-default-heading-10" class="govuk-accordion__section-content" id="accordion-default-content-10">
            <a class="govuk-button" href="beta/v12/start-page">Parent 1 Start screen</a>
            <br>
          
            <a class="govuk-button" href="beta/v12/v12-2/start-page">Other parent start screen</a>


            <div class="govuk-heading-m">What we created</div>
            <div class="govuk-body">We created a journey to allow parents with recurrent losses (meaning baby loss over a period of time) to be able to request for multiple certificates without going through identity verficiation again as well as not entering the second parents details again if they want to add the same parent. They will not need to go through identity verification if they choose to add a second parent or proceed on a single application journey.</div>

            <ul class="govuk-list govuk-list--bullet">
     
              <li>Added new screen <a rel="external" href="https://pregnancy-loss-certificate.herokuapp.com/beta/v12/request-another-cert"> Would you like to request a certificate for another baby loss?</a></li>
              <li>Added new screen<a rel="external" href="https://pregnancy-loss-certificate.herokuapp.com/beta/v12/add-parent-cert-copy"> Would you like to add this other parent to the next certificate?</a></li>
              <li>Added new screen<a rel="external" href="https://pregnancy-loss-certificate.herokuapp.com/beta/v12/add-other-parent"> Would you like to add the same other parent to the next certificate?</a></li>
              <li>Added "continue" button on the request pending screen<a rel="external" href="https://pregnancy-loss-certificate.herokuapp.com/beta/v12/confirmation-page-copy"> Request pending</a></li>
              </a>
            </ul>
              <div class="govuk-heading-m">What we tested</div>
              <ul class="govuk-list govuk-list--bullet">
                <li>the flow to allow users to apply for another certificate without going through identity verification again</li>
                <li>if the new flow made sense to users</li>
                <li>if the content on these screens was clear and made sense</li>
                <li>if users understand they can continue onto the next certificate after the request pending screen</li>
                <li>We tested two versions of the request pending screen one with the continue button against the request pending screen with the question "would you like to request a certificate for another baby loss?"</li>
                
              </ul>
          
          <div class="govuk-heading-m">What we found</div>
              <ul class="govuk-list govuk-list--bullet">
                <li>Users understood the overall content of the screens and questions, however the flow didn't make sense to some of the users and were confused as to why they had to answer some eligibility questions again.</li>
           
                
              </ul>
         
          <div class="govuk-heading-m">Any known issues?</div>
              <div class="govuk-body">
                The request pending screen felt like an end point for users and they felt like they had already answered the question that they would like another certificate so why would they continue from that screen. 

Some users would miss the continue button on the first journey and just exit the journey.

Users preferred the option of having the request pending screen with the question as one screen.
                </li>
               
          </div>


















          </div>
        </div>
     
      

    <div class="govuk-accordion__section">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-11">
            Version 11 (for Research and test)
          </span>
        </h2>
      </div>
      <div aria-labelledby="accordion-default-heading-11" class="govuk-accordion__section-content"
        id="accordion-default-content-11">
        <a class="govuk-button" href="beta/v11/start-page">Parent 1 Start</a>
        <a class="govuk-button govuk-button--secondary" href="beta/v11/start-page?devMode=true">+ Dev mode </a>
        <a class="govuk-button govuk-button--secondary" href="beta/v11/start-page?ur=P1">UR Participant 1 </a>
        <a class="govuk-button govuk-button--secondary" href="beta/v11/start-page?use-steps=false">Baby details as
          single
          page </a>
        <a class="govuk-button govuk-button--secondary" href="beta/v11/start-page?use-steps=true">Baby details as steps
        </a>
        <br>
        <a class="govuk-button" href="beta/v11/parent2/start-page">Parent 2 Start</a>
        <a class="govuk-button govuk-button--secondary" href="beta/v11/parent2/start-page?devMode=true">+ Dev mode</a>
      </div>
    </div>

    <div class="govuk-accordion__section">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-10">
            Version 10 (journey for inital private beta)
          </span>
        </h2>
      </div>
      <div aria-labelledby="accordion-default-heading-10" class="govuk-accordion__section-content"
        id="accordion-default-content-10">
        <a class="govuk-button" href="beta/v10/start-page">Parent 1 Start screen</a>
        <br>
        <p class='govuk-body'>Use NE1 3JA to get throught the IDV route</p>
        <p class='govuk-body'>Use date 27/3/2007 for date of birth, any other dates will guide you to the kickout screen
        </p>
        <a class="govuk-button" href="beta/v10/v10-1/start-page">Parent 2 journey Start screen</a>
        <p class='govuk-body'>Use NE1 3JA to get throught the IDV route</p>
        <p class='govuk-body'>Use date 27/3/2007 for date of birth, any other dates will guide you to the kickout screen
        </p>
      </div>
    </div>

    <div class="govuk-accordion__section">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-9">
            Version 9 with second parent IDV
          </span>
        </h2>
      </div>
      <div aria-labelledby="accordion-default-heading-9" class="govuk-accordion__section-content"
        id="accordion-default-content-9">
        <p class='govuk-body'>Use NE1 3JA to get throught the IDV route</p>
        <p class='govuk-body'>Use date 27/3/2007 for date of birth, any other dates will guide you to the kickout screen
        </p>
        <a class="govuk-button" href="beta/v9/start-page">V9 Start (with IDV for second parent) option 1</a>
        <a class="govuk-button" href="beta/v9-2/start-page">V9 Start (with IDV for second parent) option 2</a>
        <a class="govuk-button" href="beta/v9-3/start-page">V9 Start (with IDV for second parent) option 3</a>
        <a class="govuk-button" href="beta/v9/v9-1/start-page">Second parent IDV journey</a>
      </div>
    </div>


    <div class="govuk-accordion__section">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            Version 8 with second parent IDV
          </span>
        </h2>
      </div>
      <div aria-labelledby="accordion-default-heading-1" class="govuk-accordion__section-content"
        id="accordion-default-content-1">

        <p class='govuk-body'>Use NE1 3JA to get throught the IDV route</p>
        <p class='govuk-body'>Use date 27/3/2007 for date of birth, any other dates will guide you to the kickout
          screen</p>

        <a class="govuk-button" href="beta/v8/start-page">V8 Start (with IDV for second parent)</a>
        <a class="govuk-button" href="beta/v8/v8-1/start-page">Second parent IDV journey</a>
        <br>
        <a class="govuk-button" href="beta/no-second-parent/start-page">No second parent journey</a>


      </div>
      </details>


    </div>


    <div class="govuk-accordion__section">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            Version 7 with second parent IDV
          </span>
        </h2>
      </div>
      <div aria-labelledby="accordion-default-heading-1" class="govuk-accordion__section-content"
        id="accordion-default-content-1">

        <p class='govuk-body'>Use NE1 3JA to get throught the IDV route</p>
        <p class='govuk-body'>Use date 27/3/2007 for date of birth, any other dates will guide you to the kickout
          screen</p>

        <a class="govuk-button" href="beta/v7/start-page">V7 Start (with IDV for second parent)</a>
        <a class="govuk-button" href="beta/v7/v7-1/start-page">Second parent IDV journey</a>
        <a class="govuk-button" href="beta/v7-4/start-page">Back office journey</a>

      </div>
      </details>


    </div>


    <div class="govuk-accordion__section">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            Second parent IDV
          </span>
        </h2>
      </div>

      <div aria-labelledby="accordion-default-heading-1" class="govuk-accordion__section-content"
        id="accordion-default-content-1">
        <p class='govuk-body'>Miro board:
          <a href="beta/scenarios">Second parent identity verification options Miro</a>
          .
        </p>
        <h2 class="govuk-heading-m">
          Scenario 1
        </h2>
        <p class='govuk-body'>Main applicant does their own and second parents ID Verification, where a OTP is sent to
          second parent to
          verify their details, implied consent given. (Both parents need to be together or on the phone (or other) to
          complete the single synchronous journey.)
        </p>
        <p class='govuk-body'>Use date 27/3/2007 for date of birth, any other dates will guide you to the kickout
          screen</p>
        <a class="govuk-button" href="beta/s1/start-page">Scenario 1 start</a>
        <h2 class="govuk-heading-m">
          Scenario 2
        </h2>
        <p class='govuk-body'>Main applicant does their own ID verification and NOT do second parents ID Verification.
          Second parent completes a prompted journey where they verify who they are, ultimately giving consent. This is
          an
          asynchronous journey! (2nd parent gets a notification via email or SMS that contains a link to start the
          journey.)
        </p>
        <p class='govuk-body'>Use date 27/3/2007 for date of birth, any other dates will guide you to the kickout
          screen</p>
        <h2 class="govuk-heading-m">
          Scenario 3
        </h2>
        <p class='govuk-body'>Main applicant provides second parent with a reference code to enter into second parent
          start
          page. The second parent completes the journey, proving their identity and gives explicit consent.
          (The first parent receives a journey/reference code/identifier. They give that to the second parent to
          complete
          the consent journey via a new start page. This journey will validate the user’s name.) This is an asynchronous
          journey!</p>
        <p class='govuk-body'>Use date 27/3/2007 for date of birth, any other dates will guide you to the kickout
          screen</p>
        <a class="govuk-button" href="beta/s2/start-page">Scenario 2 & 3 start</a>
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              second parent screens
            </span>
          </summary>
          <div class="govuk-details__text">
            <p>
              <a href="beta/s1/information-page">Static screen</a>
            </p>
            <p>
              <a href="beta/s1/spike-screen">spike screen</a>
            </p>
          </div>
        </details>


      </div>
    </div>


    <div class="govuk-accordion__section">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
            Version 6 CCS & back office journeys
          </span>
        </h2>
      </div>
      <div aria-labelledby="accordion-default-heading-2" class="govuk-accordion__section-content"
        id="accordion-default-content-2">
        <p class='govuk-body'>Use NE1 3JA to get throught the IDV route</p>
        <p class='govuk-body'>Use date 27/3/2007 for date of birth, any other dates will guide you to the kickout
          screen</p>
        <p class='govuk-body'>Miro board:
          <a href="beta/version6">Version 6 Miro board</a>
          .
        </p>

        <a class="govuk-button" href="beta/v6/start-page">V6 Start (with IDV)</a>
        <a class="govuk-button" href="beta/v6-2/start-page">CCS journey</a>
        <a class="govuk-button" href="beta/v6-4/start-page">Back office journey</a>
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Error screens
            </span>
          </summary>
          <div class="govuk-details__text">
            <p>
              <a href="beta/v6/problem-with-service">Problem with the service screen</a>
            </p>
            <p>
              <a href="beta/v6/cannot-request-code">Cannot request another access code screen</a>
            </p>
            <p>
              <a href="beta/v6/cannot-find-contact-details">Cannot find phone or email screen</a>
            </p>
            <p>
              <a href="beta/v6/cannot-find-address">Cannot find address screen</a>
            </p>
            <p>
              <a href="beta/v6/start-again">Start again</a>
            </p>
            <p>
              <a href="beta/v6/cannot-request-another-code">Cannot request another code screen</a>
            </p>
            <p>
              <a href="beta/v6/new-code-sent">Your new code has been sent screen</a>
            </p>
            <p>
              <a href="beta/v6/cannot-find-details-request">Cannot find details screen</a>
            </p>
            <p>
              <a href="beta/v6/cannot-request-try-again">Cannot request try again</a>
            </p>
          </div>
        </details>


      </div>
    </div>
  </div>

</div>


{% endblock %}