{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

   

   
      <h1 class="govuk-heading-l">
       Private beta (September 2023)
      </h1>
      

      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        <div class="govuk-accordion__section ">
          
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                Version 6 - July 2023
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            <p class='govuk-body'>Use NE1 3JA to get throught the IDV route</p>
              <p class='govuk-body'>Use date 27/3/2007 for date of birth, any other dates will guide you to the kickout screen</p>
              
              <a class="govuk-button" href="beta/v6/start-page">V6 Start (with IDV)</a>
              <a class="govuk-button" href="beta/v6-2/start-page">CCS journey</a>
              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Error screens
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <p><a href="beta/v6/problem-with-service">Problem with the service screen</a></p>
              <p><a href="beta/v6/cannot-request-code">Cannot request another access code screen</a></p>
              <p><a href="beta/v6/cannot-find-contact-details">Cannot find phone or email screen</a></p>
              <p><a href="beta/v6/cannot-find-address">Cannot find address screen</a></p>
              <p><a href="beta/v6/start-again">Start again</a></p>
              <p><a href="beta/v6/cannot-request-another-code">Cannot request another code screen</a></p>
              <p><a href="beta/v6/new-code-sent">Your new code has been sent screen</a></p>
              <p><a href="beta/v6/cannot-find-details-request">Cannot find details screen</a></p>
              <p><a href="beta/v6/cannot-request-try-again">Cannot request try again</a></p>
                </div>
              </details>
             
          </div>













      </div>
     
  </div>
</div>


{% endblock %}
