{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

   

   
      <h1 class="govuk-heading-l">
       Discovery/Alpha (April 2023)
      </h1>
      

      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        <div class="govuk-accordion__section ">
          
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                Version 5 - June 2023
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            <p class='govuk-body'>Use NE1 3JA to get throught the IDV route</p>
              <p class='govuk-body'>Use date 27/3/2007 for date of birth, any other dates will guide you to the kickout screen</p>
              <p class='govuk-body'>Enter security code: 123 for NHS number route</p>
              <p class='govuk-body'>Enter security code: 1234 for non NHS number route</p>
              <p class='govuk-body'>Miro board: <a href="discovery-alpha/version5">Version 5 Miro board</a>.</p>
              <a class="govuk-button" href="discovery-alpha/v5/start-page">V5 Start (with IDV)</a>
             
              <p><a href="discovery-alpha/v5/cannot-find-details">Cannot find details screen</a></p>
              <p><a href="discovery-alpha/v5/problem-with-service">Problem with the service screen</a></p>
              <p><a href="discovery-alpha/v5/cannot-request-code">Cannot request another access code screen</a></p>
              <p><a href="discovery-alpha/v5/cannot-find-contact-details">Cannot find phone or email screen</a></p>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                Version 4 - May 2023
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            <p class='govuk-body'>Use NE1 4XL to get throught the NON IDV route</p>
              <p class='govuk-body'>Use date 27/3/2007 for date of birth, any other dates will guide you to the kickout screen</p>
              <p class='govuk-body'>Miro board: <a href="discovery-alpha/version4">Version 4 Miro board</a>.</p>
              <a class="govuk-button" href="discovery-alpha/v4/start-page">Version 4 start (non IDV)</a>
              <a class="govuk-button" href="ccs/start-page">CCS journey</a>
              <p><a href="discovery-alpha/v4/timeout">Timeout screen</a></p>
              <p><a href="discovery-alpha/v4/cookies">Cookies</a></p>
              <p><a href="discovery-alpha/v4/timeout">Guidance</a></p>
              <p><a href="discovery-alpha/v4/contact">Contact us</a></p>
              <p><a href="discovery-alpha/v4/timeout">Privacy</a></p>
              <p><a href="discovery-alpha/v4/timeout">Terms of Use</a></p>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                Version 3 - May 2023
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
            <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
              
              <p class='govuk-body'>Use NE1 4XL to get throught the NON IDV route</p>
              <p class='govuk-body'>Use date 27/3/2007 for date of birth, any other dates will guide you to the kickout screen</p>
              <p class='govuk-body'>Miro board: <a href="discovery-alpha/version3">Version 3 Miro board</a>.</p>
              <a class="govuk-button" href="discovery-alpha/v3/start-page">Version 3 start (non IDV)</a>
              <a class="govuk-button" href="v3.5/start-page">Version 3 start (IDV)</a>
            </div>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                Version 2 - May 2023
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
            <p class='govuk-body'>Use NE1 3JA to get throught the IDV route</p>
            <p class='govuk-body'>Use NE1 4XL to get throught the NON IDV route</p>
            <p class='govuk-body'>Use date 27/3/2007 for date of birth, any other dates will guide you to the kickout screen</p>
            <p class='govuk-body'>Miro board: <a href="discovery-alpha/version2">Version 2 Miro board</a>.</p>
            <a class="govuk-button" href="discovery-alpha/v2/start-page">Version 2 start</a>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                Version 1 (4/4/23)
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
            <p class='govuk-body'>Use NE1 3JA to get throught the IDV route</p>
            <p class='govuk-body'>Use NE1 4XL to get throught the NON IDV route</p>
            <p class='govuk-body'>Miro board: <a href="discovery-alpha/version1">Version 1 Miro board</a>.</p>
            <a class="govuk-button" href="discovery-alpha/v1/start-page">Version 1 start</a>
           
           
          </div>
        </div>
      </div>
     
  </div>
</div>


{% endblock %}
