{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

   

   
      <h1 class="govuk-heading-l">
       Discovery/Alpha (April 2023)
      </h1>

      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                Version 4
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            <p class='govuk-body'>This is the content for Writing well for the web.</p>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                Version 3
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
            <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
              
              <p class='govuk-body'>Use NE1 4XL to get throught the NON IDV route</p>
              <p class='govuk-body'>Use date 27/3/2007 for date of birth, any other dates will guide you to the kickout screen</p>
             
              <a class="govuk-button" href="v3/start-page">Version 3 start (non IDV)</a>
              <a class="govuk-button" href="v3.5/start-page">Version 3 start (IDV)</a>
            </div>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                Version 2
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
            <p class='govuk-body'>Use NE1 3JA to get throught the IDV route</p>
            <p class='govuk-body'>Use NE1 4XL to get throught the NON IDV route</p>
            <p class='govuk-body'>Use date 27/3/2007 for date of birth, any other dates will guide you to the kickout screen</p>
           
            <a class="govuk-button" href="v2/start-page">Version 2 start</a>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                Version 1 (4/4/23)
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
            <p class='govuk-body'>Use NE1 3JA to get throught the IDV route</p>
            <p class='govuk-body'>Use NE1 4XL to get throught the NON IDV route</p>
            <a class="govuk-button" href="v1/start-page">Version 1 start</a>
           
          </div>
        </div>
      </div>
     
  </div>
</div>


{% endblock %}
