{% extends "layouts/main.html" %}

{% block pageTitle %}
{{ serviceName }} Prototypes
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Important</span>
        Don't use any of this prototype code on production services, it doesn't adhere to development standards and is hacked together quickly and roughly.
      </strong>
    </div>
    <div class="payment-summary-wrap">
      <div class="payment-summary">
        <h1 class="govuk-heading-l">
          Prototype of live service
         </h1>
          <p id="payment-description" class="govuk-body">
          This is a prototype of the live service and should be kept up to date as the service changes.
          </p>
          <div class="govuk-inset-text">
           To get through each journey you must use the date of birth 27/3/2007 and postcode NE1 3JA
          </div>
          <a class="govuk-button" href="/live/start-page">Main applicant journey start now</a>
          <a class="govuk-button" href="/live/live-parent2/start-page">Other parent journey start now</a>
          <p class="govuk-body hidden" id="payment-summary-breakdown">
          </p>
      </div>
    </div>
    <div class="payment-summary-wrap">
      <div class="payment-summary">
        <h1 class="govuk-heading-l">
          Beta
         </h1>
          <p id="payment-description" class="govuk-body">
        
          </p>
          <p> <a href="beta-home">Baby loss journeys</a></p>
          <p class="govuk-body hidden" id="payment-summary-breakdown">
          </p>
      </div>
    </div>

    <div class="payment-summary-wrap">
      <div class="payment-summary">
        <h1 class="govuk-heading-l">
          Discovery/Alpha (April 2023)
         </h1>
          <p id="payment-description" class="govuk-body">
         Discovery and Alpha prototypes/journey iterations that took place April/May 2023
          </p>
          <p> <a href="discovery">Baby loss journeys</a></p>
          <p class="govuk-body hidden" id="payment-summary-breakdown">
          </p>
      </div>
    </div>

    <div class="payment-summary-wrap">
      <div class="payment-summary">
        <h1 class="govuk-heading-l">
          CRM
        </h1>
        <p id="payment-description" class="govuk-body">

        </p>
        <p> <a href="crm">CRM prototypes</a></p>
        <p class="govuk-body hidden" id="payment-summary-breakdown">
        </p>
      </div>
    </div>
       
<style>

.payment-summary {
    border-top: 2px solid #1d70b8;
    padding: 15px;
    background-color: #fdfdfd
}
</style>

{% endblock %}

{% set footerItems = [
  {
    href: "/manage-prototype",
    text: "Manage your prototype"
  },
  {
    href: "/manage-prototype/clear-data",
    text: "Clear data"
  },
  {
    href: "?devMode=true",
    text: "devMode"
    }
] %}


{% block footer %}
    {{ govukFooter({
    meta: {
      items: footerItems,
      visuallyHiddenTitle: "Footer links"
    }
  }) }}

{% endblock %}
