{% extends "layouts/main.html" %}

{% block pageTitle %}
{{ serviceName }} Prototypes
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Important</span>
        Don't use any of this prototype code on production services, it doesn't adhere to development standards and is hacked together quickly and roughly.
      </strong>
    </div>
    <div class="payment-summary-wrap">
      <div class="payment-summary">
        <h1 class="govuk-heading-l">
          Beta (September 2023)
         </h1>
          <p id="payment-description" class="govuk-body">
        
          </p>
          <p> <a href="beta-home">Baby loss journeys</a></p>
          <p class="govuk-body hidden" id="payment-summary-breakdown">
          </p>
      </div>
    </div>
      <div class="payment-summary-wrap">
        <div class="payment-summary">
          <h1 class="govuk-heading-l">
            Discovery/Alpha (April 2023)
           </h1>
            <p id="payment-description" class="govuk-body">
           Discovery and Alpha prototypes/journey iterations that took place April/May 2023
            </p>
            <p> <a href="discovery">Baby loss journeys</a></p>
            <p class="govuk-body hidden" id="payment-summary-breakdown">
            </p>
        </div>
      </div>
       
<style>

.payment-summary {
    border-top: 2px solid #1d70b8;
    padding: 15px;
    background-color: #fdfdfd
}
</style>

{% endblock %}

{% set footerItems = [
  {
    href: "/manage-prototype",
    text: "Manage your prototype"
  },
  {
    href: "/manage-prototype/clear-data",
    text: "Clear data"
  },
  {
    href: "?devMode=true",
    text: "devMode"
    }
] %}


{% block footer %}
    {{ govukFooter({
    meta: {
      items: footerItems,
      visuallyHiddenTitle: "Footer links"
    }
  }) }}

{% endblock %}
