{% extends "layouts/main.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-width-container app-width-container">
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        Beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
  }) }}
  {% endblock %}

  {% block content %}
  <div class="govuk-form-group">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Details on the certificate</span>

      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Would you like to request a certificate for another baby loss?

          </h1>
        </legend>



        <form class="form" action="request-cert" method="post">


          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="request-cert" name="reqcert" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="no">
                No
              </label>
            </div>
            <p>or</p>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="request-cert" name="reqcert" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="yes">
                Yes, I've had more than one baby loss
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="request-cert" name="reqcert" type="radio" value="yestwin">
              <label class="govuk-label govuk-radios__label" for="yestwin">
                Yes, I've lost twins, triplets or more
              </label>
            </div>
          </div>
    </div>
    </fieldset>

  </div>
</div>
<button class="govuk-button" data-module="govuk-button" type="submit">
  Continue
</button>

</form>

</div>
</div>

{% endblock %}