{% extends "layouts/main.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit

{% endblock %}

{% block beforeContent %}
<div class="govuk-width-container app-width-container">
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        Beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
  }) }}
  {% endblock %}

  {% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="parent-name" method="post">
        <div class="govuk-form-group">
          <span class="govuk-caption-l">Your details</span>
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                What is your name?

              </h1>
            </legend>


            <p>You must enter the names you registered with your GP. If you've changed your name, you will need to contact
              your GP.</p>



            <div class="govuk-body">
              This is the name that will be printed on the certificate.
            </div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="add-name">
                  First name
                </label>
                <input class="govuk-input govuk-!-width-two-thirds" id="add-name" name="parent1-firstname" type="text">
              </div>
              <div class="govuk-form-group">
                <label class="govuk-label" for="one-third">
                  Last name
                </label>
                <input class="govuk-input govuk-!-width-two-thirds" id="add-name" name="parent1-lastname" type="text">
              </div>

      </div>

  <div class="govuk-inset-text">
    The certificate will not go on your GP record.
  </div>
  {{ govukButton({
    text: "Continue",
    href: "enter-date-of-birth",
    isStartButton: false
    }) }}
  </form>
</div>
</div>
</div>
<style>
  .govuk-radios {
    margin-bottom: 30px;
  }

  .govuk-details {
    margin-top: 30px;
  }

</style>

{% endblock %}
