{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% block footer %}
 {{ govukFooter({
   meta: {
     items: [
     {
      
      },
      {
        href: "/cookies",
        text: "Cookies"
        
      },
      {
      
      },
      {
        href: "/accessibility",
        text: "Accessibility statement"
      },
      {
        href: "/termnsandconditions",
        text: "Terms and conditions"
      },
       {
         href: "/privacy",
         text: "Privacy policy"
       },
       
       {
        
       }
     ],
     visuallyHiddenTitle: "Footer links"
   }
 }) }}
{% endblock %}