{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block header %}

  {{ govukHeader({
    homepageUrl: "/index",
    serviceName: serviceName,
    serviceUrl: "start-page"
  }) }}

  {% if feedbackType %}
    {% if servicePhase === 'beta' %}
      {% include 'beta/v11/includes/phase-banner.html' %}
    {% endif %}
  {% endif %}

{% endblock %}

{% block bodyEnd %}
  {% block scripts %}
    {% include "govuk-prototype-kit/includes/scripts.njk" %}
    {% block pageScripts %}{% endblock %}
  {% endblock %}

{% if data['devMode'] === 'true' %}
  {% include "includes/devmode.html" %}
{% endif %}

{% endblock %}

