{% extends "layouts/main-beta.html" %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '' %}

{% set heading = "We cannot find anyone matching the details you have provided" %}

{% block pageTitle %}
  {{ heading }} – {{ serviceName }} – NHSBSA
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="location-england" method="post">
 
      <h1 class="govuk-heading-l">
      {{ heading }}
      </h1>

      <p>Check again that you have entered your details correctly.</p>
      <p>If your details have changed, for example your address or surname, you can contact your GP surgery to update your details.</p>
      <p>If you are not registered with a GP surgery, you can register and then request to have your details updated on your NHS record.<a href=""> Find out how to register with a GP surgery</a>.</p>

      {{ govukButton({
        text: "Try again"
      }) }}`

    </form>
  </div>
</div>
{% endblock %}

{% block footer %}
  {% include 'beta/v10/includes/footer.html' %}
{% endblock %}