{% extends "layouts/main-beta.html" %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '1' %}

{% set heading = "Check your answers" %}

{% block pageTitle %}
  {{ heading }} – {{ serviceName }} – NHSBSA
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">{{ heading }}</h1>

    <h2 class="govuk-heading-m">Your details</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['parent1-firstname'] or 'Jasmine' }} {{ data['parent1-lastname'] or 'Williams' }}
        </dd>

        <dd class="govuk-summary-list__actions">
          &nbsp;
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Address
        </dt>
        <dd class="govuk-summary-list__value">
          4 Albert Road<br>Newcastle<br>NE1 3JA
        </dd>
        <dd class="govuk-summary-list__actions">
          &nbsp;
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email address
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['contactByEmail'] or 'jasmine.williams@example.com' }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="contact-email">
            Change<span class="govuk-visually-hidden"> Email address</span>
          </a>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">Other parent's details</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Do you want to add another parent?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['add-other-parent'] or 'Yes' }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="add-parent">
            Change<span class="govuk-visually-hidden"> whether you want to add another parent</span>
          </a>
        </dd>
      </div>

      {% if data['add-other-parent'] === 'Yes' %}

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['parent2-firstname'] or 'Jason' }} {{ data['parent2-lastname'] or 'Williams' }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="parent-contact">
            Change<span class="govuk-visually-hidden"> other parent's email address</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email address
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['parent2-email'] or 'jason.williams@inbox.com' }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="parent-contact">
            Change<span class="govuk-visually-hidden"> other parent's email address</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
         Date of birth
        </dt>
        <dd class="govuk-summary-list__value">
          {% if data['dob2-day'] or data['dob2-month'] %}
            {{ data | isoDateFromDateInput("dob2") | govukDate or '19 June 2000' }}
          {% else %}
            19 June 2000
          {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="enter-date-of-birth-parent">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>

      {% endif %}
    </dl>


    <h2 class="govuk-heading-m">Details on the certificate</h2>

    <h3 class="govuk-heading-s">Parent 1</h3>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Your relationship to your baby
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['relation-baby'] or 'Mother' }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="relation-to-baby">
            Change<span class="govuk-visually-hidden"> parent 1's relationship to the baby</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Your name
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['parent1-firstname'] or 'Jasmine' }} {{ data['parent1-lastname'] or 'Williams' }}
        </dd>
        <dd class="govuk-summary-list__actions">
          &nbsp;
        </dd>
      </div>
    </dl>

    {% if data['add-other-parent'] === 'Yes' %}

    <h3 class="govuk-heading-s">Parent 2</h3>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Their relationship to your baby
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['parent2-relationship'] or 'Father' }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="second-relation-to-baby">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Their name
        </dt>
        <dd class="govuk-summary-list__value">
          To be added once the other parent confirms their details
        </dd>
        <dd class="govuk-summary-list__actions">
          &nbsp;
        </dd>
      </div>
    </dl>

    {% endif %}

    <h3 class="govuk-heading-s">Baby's details</h3>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">

      {#    {% if data['add-name'] !== 'No' %} #}

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Baby's name
        </dt>
        <dd class="govuk-summary-list__value">
          {% if data['add-name'] !== 'No' %}
            {{ data['baby-firstname'] or 'Alfie' }}
          {% else %}
            ---
          {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="babys-name">
            Change<span class="govuk-visually-hidden"> baby's name</span>
          </a>
        </dd>
      </div>

      {#    {% endif %} #}

      {#     {% if data['add-name'] !== 'No' %} #}

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Baby's sex
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['baby-gender'] or 'Male' }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="sex-of-baby">
            Change<span class="govuk-visually-hidden"> baby's sex</span>
          </a>
        </dd>
      </div>

      {#    {% endif %} #}

  {#    {% if data['dol-on-cert'] !== 'No' and data['dol-on-cert'] !== 'Not known' %} #}

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date of baby loss
        </dt>
        <dd class="govuk-summary-list__value">
          {% if data['dol-day'] or data['dol-month'] %}
            {{ data | isoDateFromDateInput("dol") | govukDate or 'January 2022' }}
          {% else %}
            {{data['dol-year'] or '2022'}}
          {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="date-of-loss">
            Change<span class="govuk-visually-hidden"> date of baby loss</span>
          </a>
        </dd>
      </div>

      {#    {% endif %} #}

      {#    {% if data['add-place-of-loss'] !== 'No' and data['add-place-of-loss'] !== 'Not Known' %} #}

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Place of baby loss
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['place-of-loss'] or 'Newcastle' }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="place-of-loss">
            Change<span class="govuk-visually-hidden"> place of baby loss</span>
          </a>
        </dd>
      </div>

      {#    {% endif %} #}

    </dl>

    <form action="declaration" method="post" novalidate>
      <input type="hidden" name="answers-checked" value="true">
      {{ govukButton({
        text: "Accept and continue"
      }) }}
    </form>

    {% if data['devMode'] === 'true' %}
    {# DEVMODE SCENARIOS #}
    <br>
    <details class="govuk-details dev-mode govuk-!-margin-bottom-5" role="group">
      <summary class="govuk--details__summary" role="button" aria-controls="details-content-0" aria-expanded="true">
        <span class="govuk--details__summary-text">
          Change scenario
        </span>
      </summary>
      <div class="govuk-details__text">
        <h4>Parent 2</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="?add-other-parent=Yes">Parent 2 was added</a>
          </li>
          <li>
            <a href="?add-other-parent=No">Parent 2 was not added</a>
          </li>
        </ul>
      </div>
    </details>
    {% endif %}

  </div>
</div>
{% endblock %}

{% block footer %}
  {% include 'beta/v10/includes/footer.html' %}
{% endblock %}