{% extends "layouts/main-beta.html" %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '3' %}

{% set heading = "Other parent's details?" %}

{% block pageTitle %}
  {{ heading }} – {{ serviceName }} – NHSBSA
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="get-security-code" method="post" novalidate>

      {% include 'beta/v10/includes/step.html' %}

      <h1 class="govuk-heading-l">{{ heading }}</h1>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
           Name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['parent2-firstname'] or 'Example' }} {{ data['parent2-lastname'] or 'name' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
           Email
          </dt>
          <dd class="govuk-summary-list__value">

          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> email</span>
            </a>
          </dd>
        </div>

      </dl>

      <div class="govuk-checkboxes__item govuk-!-margin-bottom-4">
        <input class="govuk-checkboxes__input" id="informed-other" name="informed-other" type="checkbox" value="Yes">
        <label class="govuk-label govuk-checkboxes__label" for="informed-other">
          I confirm I've told the other parent that they'll be contacted.
        </label>
      </div>

      <input type="hidden" name="answers-checked" value="true">

      {{ govukButton({
        text: "Continue",
        isStartButton: false
      }) }}

    </form>
  </div>
</div>

{% endblock %}

{% block footer %}
  {% include 'beta/v10/includes/footer.html' %}
{% endblock %}