{% extends "layouts/main-beta.html" %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '1' %}

{% set heading = "Check your details" %}

{% block pageTitle %}
  {{ heading }} – {{ serviceName }} – NHSBSA
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include 'beta/v10/includes/step.html' %}

    <h1 class="govuk-heading-l">{{ heading }}</h1>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">

      {% if data['knows-nhs-number'] === 'Yes' %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          NHS Number
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['nhs-number'] or '485 777 3456' }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="nhs-number">
            Change<span class="govuk-visually-hidden"> NHS number</span>
          </a>
        </dd>
      </div>

      {% else %}

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Do you know your NHS number?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['knows-nhs-number'] or 'No' }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="nhs-number">
            Change<span class="govuk-visually-hidden"> NHS number</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
         Name
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['parent1-firstname'] or 'Jasmine' }} {{ data['parent1-lastname'] or 'Williams' }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> your name</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date of birth
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['dob'] or '1 January 1998' }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> your date of birth</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Postcode
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['postcode'] or 'NE1 3JA' }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> your postcode</span>
          </a>
        </dd>
      </div>

      {% endif %}
    </dl>

    <p>By continuing you agree to let us use your details to:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>check who you are</li>
      <li>find your contact details from your NHS health records so we can send you a security code</li>
    </ul>

    {{ govukButton({
      text: "Agree and continue",
      href: "get-security-code",
      isStartButton: false
    }) }}

  </div>
</div>

{% endblock %}

{% block footer %}
  {% include 'beta/v10/includes/footer.html' %}
{% endblock %}