{% extends "layouts/main-beta.html" %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '3' %}

{% set heading = "What is the other parent's date of birth?" %}

{% block pageTitle %}
{{ heading }} – {{ serviceName }} – NHSBSA
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="second-relation-to-baby" method="post">

      {% include 'beta/v10/includes/step.html' %}

      {% call govukFieldset({
        legend: {
          text: heading",
          classes: "govuk-fieldset__legend--l",
          isPageHeading: true
        }
      }) %}

      {{ govukInsetText({
        text: "If the date of birth you enter for the other parent does not match the date they enter, your request for a certificate will be cancelled."
      }) }}

      <p>We need to match the other parent's details with their GP record, if they give permission for their name to be on the certificate.</p>

      {{ govukDateInput({
        id: "dob",
        namePrefix: "[dob2]",
        hint: {
          text: "For example, 27 3 2007"
        }
      }) }}

      {% endcall %}

      {{ govukButton({
      text: "Continue"
      }) }}

    </form>
  </div>
</div>
{% endblock %}

{% block footer %}
  {% include 'beta/v10/includes/footer.html' %}
{% endblock %}