{% extends "layouts/main-beta.html" %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '1' %}

{% set heading = "Enter your security code" %}

{% block pageTitle %}
  {{ heading }} – {{ serviceName }} – NHSBSA
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="check-your-details-nhs" method="post">

      {% include 'beta/v10/includes/step.html' %}

      {{ govukInput({
      id: "entercode",
      name: "entercode",
      classes: "govuk-input--width-4 govuk-input--extra-letter-spacing",
      autocomplete: "one-time-code",
      type: "text",
      inputmode: "numeric",
      label: {
        text: heading,
        classes: "govuk-label--l",
        isPageHeading: true
      },
      hint: {
        html: "<p>We sent your security code by email to Sa********@gmail.com</p><p class=\"govuk-hint\">If you do not receive the email within a few minutes, check your spam or junk mail folder.</p>"
      }

      }) }}

      <p>Didn't get your security code? <a href="">Resend code</a></p>

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}

{% block footer %}
  {% include 'beta/v10/includes/footer.html' %}
{% endblock %}