{% extends "layouts/main-beta.html" %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '2' %}

{% set heading = "Would you like the place of your baby loss on the certificate?" %}

{% block pageTitle %}
  {{ heading }} – {{ serviceName }} – NHSBSA
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "date-of-loss"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="sex-of-baby" method="post">

      {% include 'beta/v10/includes/step.html' %}

      {% set otherHtml %}
        {{ govukInput({
          id: "place-of-loss",
          name: "place-of-loss",
          classes: "govuk-input--width-20",
          value: data['place-of-loss'],
          label: {
            text: "Place of your baby loss"
          },
          hint: {
            text: "For example, Canterbury, Kent"
          }
        }) }}
      {% endset -%}

      {{ govukRadios({
        name: "add-place-of-loss",
        fieldset: {
          legend: {
            text: heading,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          html: "You may not know the place of your baby loss.<br><br>If you select ‘No’ or ‘I do not know the place of my baby loss’, this will not be shown on the certificate."
        },
        items: [
          {
            value: "Yes",
            text: "Yes",
            "conditional": {
              html: otherHtml
            },
            checked: checked("add-place-of-loss", "Yes")
          },
          {
            value: "No",
            text: "No",
            checked: checked("add-place-of-loss", "No")
          },
          {
            divider: "or"
          },
          {
            value: "Not Known",
            text: "I do not know the place of my baby loss",
            checked: checked("add-place-of-loss", "Not Known")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}

{% block footer %}
  {% include 'beta/v10/includes/footer.html' %}
{% endblock %}