{% extends "layouts/main-beta.html" %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '' %}

{% set heading = "Sorry, there is a problem with the service" %}

{% block pageTitle %}
  {{ heading }} – {{ serviceName }} – NHSBSA
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">{{ heading }}</h1>

    <p>Try again later.</p>
    <p>Your answers have not been saved.</p>
    <p>You’ll need to start again.</p>

    {{ govukButton({
      text: "Try again",
      href: "enter-location-uk"
    }) }}

  </div>
</div>

{% endblock %}

{% block footer %}
  {% include 'beta/v10/includes/footer.html' %}
{% endblock %}