{% extends "layouts/main-beta.html" %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '0' %}

{% set heading = "What is your relationship to your baby?" %}

{% block pageTitle %}
  {{ heading }} – {{ serviceName }} – NHSBSA
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "loss-in-5-years"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="relation-to-baby-post" method="post">

      {% include 'beta/v10/includes/step.html' %}

      {{ govukRadios({
        name: "relation-baby",
        fieldset: {
          legend: {
            text: heading,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "This will be shown on the certificate."
        },
        items: [
          {
            value: "Mother",
            text: "Mother",
            checked: checked("relation-baby", "Mother")
          },
          {
            value: "Father",
            text: "Father",
            checked: checked("relation-baby", "Father")
          },
          {
            value: "Parent",
            text: "Parent",
            checked: checked("relation-baby", "Parent")
          },
          {
            value: "Surrogate",
            text: "Surrogate",
            checked: checked("relation-baby", "Surrogate")
          },
          {
            divider: "or"
          },
          {
            value: "None of these",
            text: "None of these",
            checked: checked("relation-baby", "None of these")
          }
        ]
      }) }}

      {{ govukDetails({
        summaryText: "Why we're asking you this question",
        text: "You can only get a certificate if you are the baby’s parent or surrogate."
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}

{% block footer %}
  {% include 'beta/v10/includes/footer.html' %}
{% endblock %}